@model SignUpViewModel

<div class="sign-up">
    <h3>Sign Up</h3>

    <div class="form-field">
        <div class="clearall"></div>
        @Html.LabelFor(m => m.NewUserFullName, "Full Name") <div class="clearall"></div>
        @Html.TextBoxFor(m => m.NewUserFullName, new { autocomplete = "off" }) 
    </div>
	 
	<div class="form-field">
		@Html.LabelFor(m => m.NewUserEmailAddress, "Email Address") <div class="clearall"></div>
		@Html.TextBoxFor(m => m.NewUserEmailAddress, new { autocomplete = "off" }) 
	</div>
	 
	<div class="form-field">
		@Html.LabelFor(m => m.NewUserPassword, "Password") <div class="clearall"></div>
		@Html.TextBoxFor(m => m.NewUserPassword, new { type = "password", autocomplete = "off" }) 
	</div>
	
	<input type="submit" value="Sign Up" class="button button_green" />
	<span class="fine-print fb-note">
		Note: You can also create an account by logging in via Facebook.
	</span>
</div>