@model PasswordResetViewModel

@{
	ViewBag.Title = "Reset Your Password";

    var isInDialog = !string.IsNullOrWhiteSpace(Request["LoginViaDialog"]);
    
    if (isInDialog)
    {
        this.Layout = "~/Views/Shared/_LayoutNoShell.cshtml";
        
        <style type="text/css">
            #middle-wrapper { width: 580px; }
        </style>
        
    }
}

<div id="view-resetpassword" class="content @(isInDialog ? "is-in-dialog" : "")">
	
    @if (isInDialog)
    {
        <h2>Reset Your Password</h2>
    }

    <p>Enter the email address you used when you signed up and we'll send you a link to reset your password.</p>
	
	@using(Html.BeginForm())
	{
		<div class="form-field">
			@Html.LabelFor(m => m.EmailAddress, "Email Address") 
			@Html.TextBoxFor(m => m.EmailAddress) @Html.ValidationMessageFor(m => m.EmailAddress, "required")	
		</div>
	 
		<input type="submit" value="Send Email" class="button button_green" />	 	
     
        if (isInDialog)
        {
            <input type="hidden" name="LoginViaDialog" value="true" />
            <text>&nbsp;</text>
            <a href="@Url.Action("LoginViaDialog")">cancel</a> 
        }
	}
</div>