@model SetPasswordViewModel

@{
	ViewBag.Title = "Set New Password";
}

<div id="view-setpassword" class="content">	
	<p>Enter and re-type your new password below.</p>
	
	@using(Html.BeginForm())
	{
		@Html.HiddenFor(m => m.AuthToken)

		<div class="form-field">
			@Html.LabelFor(m => m.Password, "New Password")
		    <span>@Html.TextBoxFor(m => m.Password, new { type = "password" })</span>
		</div>
	 	<div class="form-field">
			@Html.LabelFor(m => m.ConfirmPassword, "Re-Type New Password")
			<span>@Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password" })</span>
		</div>	
	 
		<input type="submit" class="button button_green" value="Set New Password" />
	}
</div>


