@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model SendToShopIngredientsViewModel

@{
    Layout = "_PartnerLayout.cshtml";
}

<ul class="breadcrumbs">
    <li><a href="@Url.Action("Index", "Root")">Brewgr.com</a></li>
    <li><a href="@Url.Action("Dashboard")">Partner Dashboard</a></li>
    <li>Send-To-Shop Ingredients</li>
</ul>

<div id="view-sendtoshopings" class="content">
    
    <div class="message-wrapper"></div>
    
    <div>
        <h2 class="marginbottom10">Send-To-Shop Ingredients</h2>
        <p>Choose the ingredients that you want to make available to your users on the recipe builder.</p>    
    </div>
    
    @* Fermentables *@
    <div class="ingGroup">
        <h3 class="marginbottom5">Fermentables</h3>
        <ul class="ingList">
            @foreach(IIngredient ing in ViewBag.Fermentables)
            {
                <li><input type="checkbox" data-fid="@ing.IngredientId" @(Model.HasIngredient(ing.IngredientTypeId, ing.IngredientId) ? " checked=\"checked\"" : "") /> &nbsp; @ing.Name</li>
            }
        </ul>
        <div class="selector">Select: <a href="#" class="all">All</a> | <a href="#" class="none">None</a></div>
    </div>
    
    @* Hops *@
    <div class="ingGroup">
        <h3 class="marginbottom5">Hops</h3>
        <ul class="ingList">
            @foreach(IIngredient ing in ViewBag.Hops)
            {
                <li><input type="checkbox" data-hid="@ing.IngredientId" @(Model.HasIngredient(ing.IngredientTypeId, ing.IngredientId) ? " checked=\"checked\"" : "") /> &nbsp; @ing.Name</li>
            }
        </ul>
        <div class="selector">Select: <a href="#" class="all">All</a> | <a href="#" class="none">None</a></div>
    </div>
    
    @* Yeasts *@
    <div class="ingGroup">
        <h3 class="marginbottom5">Yeasts</h3>
        <ul class="ingList">
            @foreach(IIngredient ing in ViewBag.Yeasts)
            {
                <li><input type="checkbox" data-yid="@ing.IngredientId" @(Model.HasIngredient(ing.IngredientTypeId, ing.IngredientId) ? " checked=\"checked\"" : "") /> &nbsp; @ing.Name</li>
            }
        </ul>
        <div class="selector">Select: <a href="#" class="all">All</a> | <a href="#" class="none">None</a></div>
    </div>
    
    @* Other Stuff *@
    <div class="ingGroup">
        <h3 class="marginbottom5">Other Stuff</h3>
        <ul class="ingList">
            @foreach(IIngredient ing in ViewBag.Adjuncts)
            {
                <li><input type="checkbox" data-aid="@ing.IngredientId" @(Model.HasIngredient(ing.IngredientTypeId, ing.IngredientId) ? " checked=\"checked\"" : "") /> &nbsp; @ing.Name</li>
            }
        </ul>
        <div class="selector">Select: <a href="#" class="all">All</a> | <a href="#" class="none">None</a></div>
    </div>
    
    @using(Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PartnerId)
        @Html.HiddenFor(m => m.IngredientJson)

        <p class="fine-print margintop20 width500">
            NOTE: Adding or removing a large number of ingredients may take a few moments to process.  Please wait while your selections are saved.  We'll let you know when we've finished saving your selections.
        </p>
        
        <input type="submit" value="Save Selections" class="button button_green" /> 
    }
</div>