@model CalculatorHydrometerTempViewModel

@{
    if (Request.QueryString["iframe"] == "1") { this.Layout = "~/Views/Shared/_LayoutNoShell.cshtml"; }
    ViewBag.Title = "Hydrometer Temperature Correction Calculator";
    ViewBag.Description = "Hydrometer temperature correction calculator for homebrew.";
}

<div id="view-calculatorHydro">
    <div class="calculations">

        @Html.Partial("_CalculatorsNavigation")

        <div class="primary">
            <h3>Homebrew Calculators - Hydrometer Correction</h3>

            <div class="ad-sense" style="width: 728px; margin: 18px auto;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- calculations letterboard -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-1415813402338064"
                     data-ad-slot="3928938982"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div class="clearall"></div>
            <div class="groupbox calculators" id="HydrometerTempCalc">
                <span>
                    <h4>Hydrometer Temperature Correction</h4>
                </span>
                <div>
                    <p>Most hydrometers are calibrated to give an acurate reading at 60F or 68F. Use this calculator to calculate corrections to a hydrometer reading when taken at a different temperature than the hydrometers calibrated temperature.</p>

                    <div class="form-field">
                        <label for="SpecificGravity">
                            Specific Gravity
				            <span class="helptip" original-title="The gravity reading of your hydrometer at the non-calibrated temperature.">&nbsp;</span>
                        </label>
                        @Html.DropDownListFor(m => m.SpecificGravity, new SelectList(ViewBag.GravityOptions, "Value", "DisplayText", Model.SpecificGravity != null ? Model.SpecificGravity : null))
                        @@
			            @Html.TextBoxFor(m => m.SpecificGravityTemp, new { @class = "TempVal" })
                        @Html.DropDownListFor(m => m.SpecificGravityTempUnit, new SelectList(ViewBag.TempUnitOptions, "Value", "DisplayText", Model.SpecificGravityTempUnit != null ? Model.SpecificGravityTempUnit : null), new { @class = "TempUnit" })
                    </div>

                    <div class="form-field">
                        <label for="TargetSpecificGravityTemp">
                            Target Temperature
				            <span class="helptip" original-title="The temperature your hydrometer is calibrated, usually 60 for older hydrometers and 68 for newer ones.">&nbsp;</span>
                        </label>
                        @Html.TextBoxFor(m => m.TargetSpecificGravityTemp, new { @class = "TempVal" })
                        @Html.DropDownListFor(m => m.TargetSpecificGravityTempUnit, new SelectList(ViewBag.TempUnitOptions, "Value", "DisplayText", Model.TargetSpecificGravityTempUnit != null ? Model.TargetSpecificGravityTempUnit : null), new { @class = "TempUnit" })
                    </div>

                    <div class="form-field" id="results" style="display:none;">
                        <label>
                            Corrected Gravity
				            <span class="helptip" original-title="The adjusted specific gravity.">&nbsp;</span>
                        </label>
                        <span id="correctedGravity">1.000</span>
                    </div>

                    <div class="calculate">
                        <input type="submit" value="Calculate Correct Gravity" class="button button_green" id="calculateButton" />
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
