@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model CommentWrapperViewModel

<div class="panel panel-default comments-wrapper">
    <div class="panel-body">

        <ul class="comment-list">
            @foreach (var comment in Model.CommentViewModels)
            {
                <li>
                    <div class="commenter-image">
                        <a href="@Url.UserProfileUrl(comment.UserName)"><img src="@comment.UserAvatarUrl" width="30" height="30" alt="@comment.UserName" /></a>
                    </div>
                    <div class="comment-text">
                        <p>@Html.Partial("_StringWithLineBreaks", comment.CommentText)</p>
                        <abbr class="timeago" title="@comment.DateCreated.ToString("g")">@comment.DateCreated</abbr>
                    </div>
                </li>
            }
        </ul>

        @Html.Partial("_CommentsAdd", new CommentAddViewModel { CommentText = "", GenericId = Model.GenericId, CommentType = Model.CommentType })

    </div>
</div>