@using Brewgr.Web
@{
    Layout = null;
}
@model CommentViewModel

<li>
    <div class="commenter-image">
        <a href="@Url.UserProfileUrl(Model.UserName)"><img src="@Model.UserAvatarUrl" width="30" height="30" alt="@Model.UserName" /></a>
    </div>
    <div class="comment-text">
        <p>@Html.Partial("_StringWithLineBreaks", Model.CommentText)</p> <span class="date sub-text">on @Model.DateCreated.ToString("g")</span>
    </div>
</li>