@using Brewgr.Web
@{
	Layout = null;
}
@model CommentViewModel
<div class="comment">
    <a href="@Url.UserProfileUrl(Model.UserName)"><img src="@Model.UserAvatarUrl" width="30" height="30" alt="@Model.UserName" class="commentimage" /></a>
    <div class="commenttext">
        <strong><a href="@Url.UserProfileUrl(Model.UserName)">@Model.UserName</a></strong>@Html.Partial("_StringWithLineBreaks", Model.CommentText)<br />
        <span class="commentdate"><abbr class="timeago" title="@Model.DateCreated.ToString("g")">@Model.DateCreated.ToString("g")</abbr></span>
    </div>
</div>