@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model CommentWrapperViewModel

<div class="comments-wrapper">
    
    <div class="actual-comments">
    @foreach (var comment in Model.CommentViewModels)
	{
        <div class="comment">
            <a href="@Url.UserProfileUrl(comment.UserName)"><img src="@comment.UserAvatarUrl" width="30" height="30" alt="@comment.UserName" class="commentimage" /></a>
            <div class="commenttext">
                <a href="@Url.UserProfileUrl(comment.UserName)">@comment.UserName</a>@Html.Partial("_StringWithLineBreaks", comment.CommentText)<br />
                <span class="commentdate"><abbr class="timeago" title="@comment.DateCreated.ToString("g")">@comment.DateCreated.ToString("g")</abbr></span>
            </div>
        </div>
	}
    </div>

    <div class="@(@Model.CommentViewModels.Count < 1 ? "noborder" : "")">
    @Html.Partial("_CommentsAdd", new CommentAddViewModel { CommentText = "", GenericId = Model.GenericId, CommentType = Model.CommentType })
    </div>

</div>