@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (!string.IsNullOrWhiteSpace(ViewBag.Description))
    {
        <meta name="description" content="@(ViewBag.Description ?? "Brewgr is an online homebrew community and recipe calculator to help homebrewers find, create and share homebrew recipes with other homebrewers.")" />
    }

    <title>@ViewBag.Title | Brewgr</title>

    @if (!string.IsNullOrWhiteSpace(ViewBag.Canonical))
    {
        <link rel="canonical" href="@(ViewBag.Canonical)" />
    }

    @* Bootstrap CSS *@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    @* Style Bundle *@
    @Styles.Render("~/bundles/css")

    @* Styles Insertion Point *@
    @RenderSection("Styles", false)

    @* jQuery $() Queue -- Taken from: http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/ *@
    <script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
</head>
<body>
    @RenderBody()

    @* jQuery from Google CDN with fallback *@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@Url.Content("~/js/lib/jquery-1.11.3.min.js")"><\/script>')</script>

    @* jQuery Migrate CDN with fallback - This is required to deal with jquery validate parseJSON error -- keep an eye on it for later removal *@
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>window.jQuery.migrateWarnings || document.write('<script src="@Url.Content("~/js/lib/jquery-migrate-1.2.1.min.js")"><\/script>')</script>

    @* Bootstrap JS *@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    @* jQuery $() Queue -- Taken from: http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/ *@
    <script>(function($,d){$.each(readyQ,function(i,f){$(f)});$.each(bindReadyQ,function(i,f){$(d).bind("ready",f)})})(jQuery,document)</script>

    @* jQuery UI CDN with fallback *@
    @*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script>window.jQuery.ui || document.write('<script src="@Url.Content("~/js/lib/jquery-ui-1.11.4.min.js")"><\/script>')</script>*@

    @* Scripts Bundle *@
    @Scripts.Render("~/bundles/js")

    @* Scripts Insertion Point *@
    @RenderSection("Scripts", false)

    @if (ViewBag.Environment == "prod" && (ViewBag.ActiveUser == null || !ViewBag.ActiveUser.IsAdmin))
    {
        @Html.Partial("_TrackingScript")
    }
</body>
</html>