@using Brewgr.Web


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <a class="logo" href="@Url.Action("Index", "Root", null, "http")"><img src="@Url.Image("~/img/logo-footer.png")" alt="" /></a>
                <p>Brewgr is an online homebrew community and recipe calculator to help homebrewers find, create and share homebrew recipes with other homebrewers.</p>
                <ul id="social">
                    <li class="facebook"> <a href="https://www.facebook.com/brewgr"> </a> </li>
                    <li class="twitter"> <a href="https://twitter.com/Brewgr_com"> </a></li>
                    <li class="instagram"> <a href="https://instagram.com/brewgr/"> </a></li>
                    <li class="youtube"> <a href="https://www.youtube.com/user/brewgr"> </a></li>
                    <li class="github"> <a href="https://github.com/ctorx/brewgr.com"> </a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3">
                <h4>Other Stuff</h4>
                <ul id="otherstuff">
                    <li><a href="@Url.Action("about", "root", null, "http")">About</a></li>
                    <li><a href="@Url.Action("Features", "Root", null, "http")">New Features</a></li>
                    <li><a href="@Url.Action("terms", "root", null, "http")">Terms of Use</a></li>
                    <li><a href="@Url.Action("privacy", "root", null, "http")">Privacy Policy</a></li>
                    <li><a href="@Url.Action("contact", "root", null, "http")">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 hidden-sm">
                <h4>Photo Stream</h4>
                <div class="photo-stream"></div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 col-sm-4">
                <h4>Newsletter</h4>
                <p>
                    Brewgr periodically sends out updates, tips and other announcements. Sign up to receive for our free email newsletter.
                </p>
                <form id="newsletterform" action="@Url.Action("EmailSignUp", "Marketing", null, "https")">
                    <input type="text" name="EmailAddress" placeholder="Enter your email adress" class="form-control newsletter" />
                    <input type="image" src="/img/mail_contact.png" alt="Sign Up" />
                </form>
            </div>
        </div>
    </div>
</footer>

<div id="subfoot">
    <div class="container">
        <div class="col-md-12">
            &copy; @DateTime.Now.Year by <a href="http://brewgr.com">brewgr.com</a>. All Rights Reserved.
            <a href="https://github.com/SingleSpeed/Brewgr.com/releases/tag/2.2.2" id="buildinfo">v2.2.2</a>
        </div>
    </div>
</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>