@using Brewgr.Web
<div id="footer">
    <div id="footer-inner">
        <div class="footer-details">
            <div class="logo-btm"><a href="@Url.Action("Index", "Root", null, "http")"><img src="@Url.Image("~/img/logo-footer.png")" alt="" /></a></div>
            <p>Brewgr is an online homebrew community and recipe calculator to help homebrewers find, create and share homebrew recipes with other homebrewers.</p>
            <ul class="social">
                <li class="facebook"> <a href="https://www.facebook.com/brewgr"> </a> </li>
                <li class="twitter"> <a href="https://twitter.com/Brewgr_com"> </a></li>
                <li class="flickr"> <a href="http://www.flickr.com/people/83842708@N02/"> </a></li>
            </ul>
        </div>
        <div class="footer-details" id="other-stuff">
            <h4>Other Stuff</h4>
            <a href="@Url.Action("about", "root", null, "http")">About</a>
            <a href="@Url.Action("Features", "Root", null, "http")">New Features</a>
            <a href="@Url.Action("terms", "root", null, "http")">Terms of Use</a>
            <a href="@Url.Action("privacy", "root", null, "http")">Privacy Policy</a>	
            <a href="@Url.Action("contact", "root", null, "http")">Contact</a>	
        </div>
        <div class="footer-details" id="photo-stream">
            <h4>Photo Stream</h4>
            <div class="Stream">
            </div>
        </div>
	
        @* Newsletter Signup *@
        <div class="footer-details no-margin">
            <h4>Newsletter</h4>
            <p>
                Brewgr periodically sends out updates, tips and other announcements.  Sign up to receive for our free email newsletter.
            </p>
            <form id="emailSignUp" action="@Url.Action("EmailSignUp", "Marketing", null, "https")">
                <input type="text" name="EmailAddress" onblur="if(this.value=='')this.value='Enter your email adress';" onfocus="if(this.value=='Enter your email adress')this.value='';" value="Enter your email adress" class="newsletter" />
            </form>
        </div>

        @*  Footer Info Part Start *@
        <div class="Finfo">
            <div class="copyright">
                © Copyright @DateTime.Now.Year by <a href="http://www.brewgr.com">Brewgr.com</a>. All Rights Reserved.

                <a href="https://github.com/ctorx/brewgr.com/releases/tag/v2.2.2" id="buildinfo">v2.2.2</a>
            </div>
            <div class="designby">Start Crafting Great Beer</div>
        </div>
    </div>
</div>
<a href="#" id="FeedbackTrigger"><img src="@Url.Image("~/img/feedback.gif")" alt="Feedback"/></a>