@using Brewgr.Web
@using Brewgr.Web.Core.Model

<div id="header"><a href="@Url.Action("Index", "Root", null, "http")" id="logo"><img src="@Url.Image("~/img/logo.png")" alt="" width="198" height="41" /></a>
	@*  Main Navigartion *@
			
	@if (ViewBag.ActiveUser != null)
	{
		@Html.Partial("_UserInfo", ViewBag.ActiveUser as UserSummary)
	}
	else
	{
		<div class="auth-choice">
			<a href="@Url.Action("login", "auth")" class="button button_green">Create Free Account</a>
			<a href="@Url.Action("login", "auth")" id="login" class="login-link" data-returnurl="@Server.UrlEncode(Request.Url.PathAndQuery)">Login</a>	
		</div>
	}
	<div id="primary-nav" class="sf-menu-wrapper">
		<ul class="sf-menu sf-js-enabled">
			<li><a href="@Url.Action("Index", "Root", null, "http")">Home</a></li>
            <li class="sf-with-ul">
                <a href="#">Tools <span class="sf-sub-indicator"> »</span>
                </a>
				<ul class="sub-menu">
					<li><a href="@Url.Action("homebrew-recipe-calculator", "recipe", null, Url.Https())"><span>Homebrew Recipe Calculator</span></a> </li>
					<li><a href="@Url.Action("CalculatorsHydrometerTemp", "content", null, "http")"><span>Hydrometer Correction Calculator</span></a> </li>
					<li><a href="@Url.Action("CalculatorsMashSpargeWater", "content", null, "http")"><span>Mash/Sparge Water Infusion Calculator</span></a> </li>
				</ul>
			</li>
			<li class="sf-with-ul">
			    <a href="#">Recipes
                    <span class="sf-sub-indicator"> »</span>
			    </a>
			    <ul class="sub-menu">
			        <li><a href="@Url.Action("homebrew-recipes", "recipe", null, "http")"><span>Browse Recipes</span></a> </li>
			        <li><a href="@Url.Action("dashboard", "dashboard", null, "http")/#recipes"><span>My Recipes</span></a> </li>
			        <li><a href="@Url.Action("dashboard", "dashboard", null, "http")/#brewsessions"><span>My Brew Sessions</span></a> </li>
			        <li><a href="@Url.Action("homebrew-recipe-calculator", "recipe", null, Url.Https())"><span>Create a New Recipe</span></a></li>
			        <li><a href="#" class="recipe-import" rel="nofollow"><span>Import Beer Xml</span></a></li>
			    </ul>
			</li>
			<li class="sf-with-ul">
			    <a href="#">About
                    <span class="sf-sub-indicator"> »</span>
			    </a>
                
			    <ul class="sub-menu">
			        <li><a href="@Url.Action("about","root")">About Brewgr</a></li>
			        <li><a href="@Url.Action("howitworks","root")">How It Works</a></li>
			        <li><a href="@Url.Action("features","root")">Features</a></li>
			    </ul>
			</li>
			<li><a href="http://brewgr.com/blog">Blog</a></li>
		</ul>
	</div>
</div>