@{
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

@using Brewgr.Web
@using Brewgr.Web.Core.Configuration
@using ctorx.Core.Messaging
@using Brewgr.Web.Core.Model

@* Stylesheets to go into head *@
@section Styles
{
    @RenderSection("Styles", false)
}

@* Scripts to just before </body> *@
@section Scripts
{
    @RenderSection("Scripts", false)
}

@Html.Partial("~/Views/Shared/_SiteAnnouncement.cshtml")

@Html.Partial("_Header")
@Html.Partial("_TitleBar")

@*  Middle Part Start *@
@Html.Partial("_SiteMessages", ViewBag.Messages as IList<IMessage>)
@RenderBody()

<div class="container clearfix spacer"></div>

@*  Footer Part Start *@
@Html.Partial("_Footer")