@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@model Brewgr.Web.Models.RecipeSummaryViewModel


<div class="media">
    @if (Model.ShowAddedBy)
    {
        <h5>@Model.CreatedByUserName added a recipe <abbr class="timeago addedby-date" title="@Model.DateCreated.ToString("g")">@Model.DateCreated</abbr></h5>
    }
    <div class="media-left hidden-xs">
        <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.Name, Model.StyleName)" class="media-object"><img src="@Url.RecipeThumbnailUrl(Model.ImageUrlRoot, Model.Srm)" alt="@Model.Name" height="80" width="80" /></a>
    </div>
    <div class="media-body">
        <div data-rating="@Model.AverageRating" data-readonly="true" class="keepsize"></div>
        <h3 class="media-heading">
            <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.Name, Model.StyleName)">@Model.Name</a>
        </h3>
        <span>
            <a href="@Url.UserProfileUrl(Model.CreatedByUserName)"><img class="avatar" src="@UserAvatar.GetAvatar(16, Model.CreatedByUserEmail)" alt="" /></a>
            <a href="@Url.UserProfileUrl(Model.CreatedByUserName)">@(ViewBag.ActiveUser != null && Model.WasCreatedBy(ViewBag.ActiveUser.UserId) ? "you" : Model.CreatedByUserName)</a>
            <small><abbr class="timeago" title="@Model.DateCreated.ToString("g")">@Model.DateCreated</abbr></small>
        </span>

        <ul class="list-unstyled list-inline">
            <li><span class="badge"><span class="srm @Html.SrmClass(Model.Srm)"></span> @Html.Srm(Model.Srm)</span></li>
            <li><span class="badge">@Model.GetRecipeTypeName()</span></li>
            <li><span class="badge">@Model.BatchSize @(Model.GetUnitType() == UnitType.USStandard ? "Gallon" : "Liter")(s)</span></li>
            <li><span class="badge">@(!string.IsNullOrWhiteSpace(Model.StyleName) ? Model.StyleName : "Unknown Style")</span></li>
            <li><span class="badge">@Model.Ibu.ToString("0") IBU</span></li>
            <li><span class="badge">@Model.Abv.ToString("F1") % ABV</span></li>
        </ul>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p>
                @StringCleaner.CleanForPreviewText(Model.Description, 500)
                @(Model.Description.Length > 500 ? "..." : "")
            </p>
        }

        <div class="menu">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.Name, Model.StyleName)">Details</a></li>
                <li><a href="@Url.RecipeCloneUrl(Model.RecipeId)" rel="nofollow">Clone</a></li>
                @if (Model.BrewSessionCount > 0)
                {
                    <li><a href="@Url.RecipeBrewSessionsUrl(Model.RecipeId, Model.Name)">Brew Sessions</a></li>
                }
                @if (ViewBag.ActiveUser != null && Model.WasCreatedBy(ViewBag.ActiveUser.UserId))
                {
                    if (Model.IsPublic)
                    {
                        <li><a href="@Url.NewBrewSessionUrl(Model.RecipeId)">New Brew Session</a></li>
                    }
                    <li><a href="@Url.RecipeEditUrl(Model.RecipeId)">Edit</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" data-recipeid="@Model.RecipeId">Delete</a></li>
                }
            </ul>
        </div>

        @* Start Comments *@
        @if (Model.CommentWrapperViewModel != null)
        {
            @Html.Partial("_Comments", Model.CommentWrapperViewModel);
        }

    </div>
</div>