@using Brewgr.Web
@using ctorx.Core.Formatting
@model RecipeSummaryViewModel


<div class="dashboard-item">
    @if (Model.ShowAddedBy)
    {
        <div class="image">
            <a href="@Url.UserProfileUrl(Model.CreatedByUserName)"><img src="@Model.GetAvatar(50)" width="50" height="50" alt="@Model.CreatedByUserName" /></a>
        </div>
    }    
    <div class="details">
        @if (Model.ShowAddedBy)
        {
            <h3 class="username"><a href="@Url.UserProfileUrl(Model.CreatedByUserName)">@Model.CreatedByUserName</a></h3>
            <text>added a recipe on @Model.DateCreated.ToShortDateString()</text>
        }
        <div class="recipe">
            <div class="image">
                <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.Name, Model.StyleName)"><img src="@Url.RecipeThumbnailUrl(Model.ImageUrlRoot, Model.Srm)" alt="@Model.Name" height="80" width="80" /></a>
            </div>
            <div class="recipe-details">
                <h3 class="name"><a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.Name, Model.StyleName)">@Model.Name</a></h3> @if (!Model.ShowAddedBy){ <text>added on @Model.DateCreated.ToShortDateString()</text> }
                <div class="data">
                    @Model.GetRecipeTypeName() |
				    @Model.BatchSize @(Model.UnitType == "s" ? "Gallon" : "Liter")(s) |
				    @(!string.IsNullOrWhiteSpace(Model.StyleName) ? Model.StyleName : "Unknown Style") |
				    @Model.Abv.ToString("F1") % ABV
                </div>
                <div class="actions">
                    <a href="@Url.RecipeCloneUrl(Model.RecipeId)" class="button button_gray button_small" rel="nofollow">Clone This</a>
                    @if (Model.BrewSessionCount > 0)
                    {
                        <a href="@Url.RecipeBrewSessionsUrl(Model.RecipeId, Model.Name)" class="button button_gray button_small">Brew Sessions</a>
                    }					
                    @if (ViewBag.ActiveUser != null && Model.WasCreatedBy(ViewBag.ActiveUser.UserId))
                    {
                        if(Model.IsPublic)
                        {
                            <a href="@Url.NewBrewSessionUrl(Model.RecipeId)" class="button button_gray button_small">Brew This</a>
                        }
                        <a href="@Url.RecipeEditUrl(Model.RecipeId)" class="button button_gray button_small">Edit</a>
                        <a href="#" class="button button_gray button_small delete-recipe" data-recipeid="@Model.RecipeId">Delete</a>
                    }
                </div>
                
                @* Start Comments *@
                @Html.Partial("_Comments", Model.CommentWrapperViewModel)

            </div>
            <div class="clearall"></div>
        </div>

    </div>
</div>
<div class="clearall"></div>


