@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@model IList<Brewgr.Web.Core.Model.RecipeSummary>

<div class="recipe-list">

	@foreach(var recipe in Model)
	{
		<div class="recipe@(Model.IndexOf(recipe) == Model.Count - 1 ? " last" : "")">
			<div class="image">
				<a href="@Url.RecipeDetailUrl(recipe.RecipeId, recipe.RecipeName, recipe.BJCPStyleName)"><img src="@Url.RecipeThumbnailUrl(recipe.ImageUrlRoot, recipe.Srm)" alt="@recipe.RecipeName" height="80" width="80" /></a>	
			</div>			
			<div class="details">
				<h3 class="name">
					<a href="@Url.RecipeDetailUrl(recipe.RecipeId, recipe.RecipeName, recipe.BJCPStyleName)">@recipe.RecipeName</a>
				</h3>
				<span class="author">by <a href="@Url.UserProfileUrl(recipe.CreatedByUserName)">@recipe.CreatedByUserName</a> on @recipe.DateCreated.ToShortDateString()</span>
				
				<div class="data">
					@recipe.GetRecipeTypeName() |
					@recipe.BatchSize @(recipe.GetUnitType() == UnitType.USStandard ? "Gallon" : "Liter")(s) |
					@(!string.IsNullOrWhiteSpace(recipe.BJCPStyleName) ? recipe.BJCPStyleName : "Unknown Style") |
					@recipe.Abv.ToString("F1") % ABV
				</div>
				<div class="actions">
					<a href="@Url.RecipeCloneUrl(recipe.RecipeId)" class="button button_gray button_small" rel="nofollow">Clone This</a>
					@if (recipe.BrewSessionCount > 0)
					{
						<a href="@Url.RecipeBrewSessionsUrl(recipe.RecipeId, recipe.RecipeName)" class="button button_gray button_small">Brew Sessions</a>
					}					
					@if (ViewBag.ActiveUser != null && recipe.WasCreatedBy(ViewBag.ActiveUser.UserId))
					{
					    if(recipe.IsPublic)
					    {
					        <a href="@Url.NewBrewSessionUrl(recipe.RecipeId)" class="button button_gray button_small">Brew This</a>
					    }
					    <a href="@Url.RecipeEditUrl(recipe.RecipeId)" class="button button_gray button_small">Edit</a>
                        <a href="#" class="button button_gray button_small delete-recipe" data-recipeid="@recipe.RecipeId">Delete</a>
					}
				</div>
			</div>
			<div class="clearall"></div>
			@if (!string.IsNullOrWhiteSpace(recipe.Description))
            {
				<div class="description">
                    @StringCleaner.CleanForPreviewText(recipe.Description, 500)
                    @(recipe.Description.Length > 500 ? "..." : "")
				</div>
            }
		</div>
	}
</div>