@using Brewgr.Web
@using Brewgr.Web.Core.Model

@{
    var user = ViewBag.ActiveUser as UserSummary;
}

@if (user != null)
{
    <div id="userinfo">
        <img src="@user.GetAvatar(40)" width="40" height="40" alt="" />
        <ul class="menu">
            <li>
                <a href="@Url.UserProfileUrl(user.Username)" class="trigger">@user.Username</a>
                <ul>
                    @* Admin Tools *@
                    @if (user.IsAdmin)
                    {
                        <li>
                            <a href="@Url.Action("tools", "admin", null, Url.Https())">Admin Tools</a>
                            <ul>
                                <li><a href="@Url.Action("Affiliates", "Admin")" target="_blank">Affiliates</a></li>
                                <li><a href="@Url.Action("Exceptions", "Admin")" target="_blank">View Exception Log</a></li>
                            </ul>
                        </li>
                    }@* Partner Tools *@
                    @if (user.IsPartner)
                    {
                        <li><a href="@Url.Action("tools", "partner", null, Url.Https())"><span>Partner Tools</span></a></li>
                    }

                    <li><a href="@Url.UserProfileUrl(user.Username)">Profile</a></li>
                    <li><a href="@Url.Action("dashboard", "dashboard", null, "http")/#recipes">My Recipes</a></li>
                    <li><a href="@Url.Action("dashboard", "dashboard", null, "http")/#brewsessions">My Brew Sessions</a></li>
                    <li><a href="@Url.Action("settings", "User", null, Url.Https())">Settings</a></li>
                    <li><a href="@Url.Action("logout", "auth", null, Url.Https())" data-returnurl="@Server.UrlEncode(Request.Url.PathAndQuery)" class="sign-out-link">Sign Out</a></li>
                </ul>

            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
}
else
{
    <div id="userlogin">
        <a href="@Url.Action("login", "auth")" class="btn btn-success" data-returnurl="@Server.UrlEncode(Request.Url.PathAndQuery)"><span class="glyphicon glyphicon-user"></span> Login / Sign Up</a>
    </div>
}


