@using Brewgr.Web
@model Brewgr.Web.Core.Model.UserSummary
           
<div id="user-info" class="sf-menu-wrapper">
    <div class="floatleft"><img src="@Model.GetAvatar(40)" width="40" height="40" alt="" /></div>
    <div class="floatleft">
        <ul class="sf-menu sf-js-enabled">
            <li class="sf-with-ul">
                <a href="@Url.UserProfileUrl(Model.Username)" class="sf-with-ul">@Model.Username <span class="sf-sub-indicator"> »</span></a>                
                <ul class="sub-menu">
                    
                    @* Admin Tools *@
                    @if (Model.IsAdmin)
                    {
                        <li><a href="@Url.Action("tools", "admin", null, Url.Https())"><span>Admin Tools</span></a>
                            <ul class="sf-menu sf-js-enabled">
                                <li><a href="@Url.Action("Affiliates", "Admin")" target="_blank">Affiliates</a></li>
                                <li><a href="@Url.Action("Exceptions", "Admin")" target="_blank">View Exception Log</a></li>
                            </ul>
                        </li>
                    }
                    
                    @* Partner Tools *@
                    @if (Model.IsPartner)
                    {
                        <li><a href="@Url.Action("tools", "partner", null, Url.Https())"><span>Partner Tools</span></a></li>
                    }

                    <li><a href="@Url.UserProfileUrl(Model.Username)"><span>Profile</span></a></li>
                    <li><a href="@Url.Action("dashboard", "dashboard", null, "http")/#recipes"><span>My Recipes</span></a></li>
                    <li><a href="@Url.Action("dashboard", "dashboard", null, "http")/#brewsessions"><span>My Brew Sessions</span></a></li>
                    <li><a href="@Url.Action("settings", "User", null, Url.Https())"><span>Settings</span></a></li>
                    <li><a href="@Url.Action("logout", "auth", null, Url.Https())" data-returnurl="@Server.UrlEncode(Request.Url.PathAndQuery)" class="sign-out-link">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearall"></div>
</div>