@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model DashboardViewModel
@{
    ViewBag.Title = "Activity Feed";
}

<div id="dashboard" class="content">
    <div class="two_third">

        <div id="result-tabs" class="tabs margintop20">
            <div class="tab-inner">
                <ul class="nav clearfix">
                    <li><a href="#tab-tab-1" id="tab-my-dashboard">Activity Feed</a></li>
                    <li><a href="#tab-tab-2" id="tab-my-recipes">My Recipes</a></li>
                    <li><a href="#tab-tab-3" id="tab-my-brewsessions">My Brew Sessions</a></li>
                </ul>
                <div class="tabwrapper">
                    <div id="tab-tab-1" class="tab">
                        <div class="content">
                            <div class="dashboard-list">
                               @* @Html.Partial("_DashboardList", Model)*@
                                <div class="spinner-dashboard"><img src="/img/ajax-spinner.gif" class="dashboard-spinner" /> Loading Dashboard</div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-tab-2" class="tab">
                        <div class="content">
                            <div class="spinner-recipe"><img src="/img/ajax-spinner.gif" class="dashboard-spinner" /> Loading Recipes</div>
                        </div>
                    </div>
                    <div id="tab-tab-3" class="tab">
                        <div class="content">
                            <div class="spinner-sessions"><img src="/img/ajax-spinner.gif" class="dashboard-spinner" /> Loading Brew Sessions</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="one_third column-last">

        <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())" class="button button_green bold margintop10 create-recipe">Create a New Recipe</a>

        @* Following *@
        @if(Model.Following.Count > 0)
        {
            <div class="dashboard-gutteritem">

                <div class="dashboardfollowing">
                    <h2>You're Following <a href="@Url.UserProfileUrl(Model.Username)#tab-tab-4" class="hlink">(@Model.FollowingCount)</a></h2>
                    <ul class="grid">
                    @foreach (MiniUserSummary miniUserSummary in Model.Following.Take(4).ToList())
                    { 
                        <li>
                            <a href="@Url.UserProfileUrl(miniUserSummary.Username)" class="avatar medium">
                                <img alt="@miniUserSummary.Username" class="" src="@miniUserSummary.GetAvatar(60)">
                            </a>
                        </li>
                    }
                    </ul>
                    <a href="@Url.UserProfileUrl(Model.Username)#tab-tab-4" class="viewall">View All</a>
                </div>
            </div>
        }

        @* News *@
        @Html.Partial("_NewsUpdates")

        @* Stats *@
        <div class="dashboard-gutteritem padding20">
            <div class="dashboardstats">
                <h2>My Stats</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Last 6 Months</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tr>
                        <th>Recipes</th>
                        <td>@Model.DashboardStatsViewModel.RecipeCountLast6Months</td>
                    </tr>
                    <tr>
                        <th>Brew Sessions</th>
                        <td>@Model.DashboardStatsViewModel.SessionCountLast6Months</td>
                    </tr>
                    <tr>
                        <th>Comments</th>
                        <td>@Model.DashboardStatsViewModel.CommentCountLast6Months</td>
                    </tr>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>All-Time</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tr>
                        <th>Recipes</th>
                        <td>@Model.DashboardStatsViewModel.RecipeCount</td>
                    </tr>
                    <tr>
                        <th>Brew Sessions</th>
                        <td>@Model.DashboardStatsViewModel.SessionCount</td>
                    </tr>
                    <tr>
                        <th>Comments</th>
                        <td>@Model.DashboardStatsViewModel.CommentCount</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
