@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model DashboardViewModel
@{
    ViewBag.Title = "Activity Feed";
}

<div id="dashboard" class="container view">

    <div class="row">

        <div class="col-md-8 col-sm-7">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tabfeed" aria-controls="tabfeed" data-toggle="tab">Activity Feed</a></li>
                <li><a href="#tabrecipes" aria-controls="tabrecipes" data-toggle="tab" id="tab-my-recipes">My Recipes</a></li>
                <li><a href="#tabsessions" aria-controls="tabsessions" data-toggle="tab" id="tab-my-brewsessions">My Brew Sessions</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active list" id="tabfeed">
                    <img src="/img/ajax-spinner.gif" class="dashboard-spinner" /> Loading Dashboard
                </div>
                <div class="tab-pane list" id="tabrecipes">
                    <img src="/img/ajax-spinner.gif" class="dashboard-spinner" /> Loading Recipes
                </div>
                <div class="tab-pane list" id="tabsessions">
                    <img src="/img/ajax-spinner.gif" class="dashboard-spinner" /> Loading Brew Sessions
                </div>
            </div>

        </div>


        <div class="col-md-4 col-sm-5">

            <a href="@Url.Action("NewRecipe", "Recipe", null, Url.Https())" class="btn btn-success btn-lg create-recipe">Create a New Recipe</a>

            @* Following *@
            @if (Model.Following.Count > 0)
            {
                <div class="panel panel-default hidden-xs">
                    <div class="panel-heading">
                        <h3 class="panel-title">You're Following <a href="@Url.UserProfileUrl(Model.Username)#tab-tab-4">(@Model.FollowingCount)</a></h3>
                    </div>
                    <div class="panel-body">
                        @foreach (MiniUserSummary miniUserSummary in Model.Following.Take(4).ToList())
                        {
                            <div class="col-xs-6 col-md-3">
                                <a href="@Url.UserProfileUrl(miniUserSummary.Username)" class="thumbnail">
                                    <img alt="@miniUserSummary.Username" class="" src="@miniUserSummary.GetAvatar(60)">
                                </a>
                            </div>
                        }
                        <a href="@Url.UserProfileUrl(Model.Username)#tab-tab-4" class="viewall">View All</a>
                    </div>
                </div>
            }

            @* News *@
            @Html.Partial("_NewsUpdates")

            <ul class="list-group hidden-xs">
                <li class="list-group-item disabled">
                    My Stats - Last 6 Months
                </li>
                <li class="list-group-item">
                    Recipes <span class="badge">@Model.DashboardStatsViewModel.RecipeCountLast6Months</span>
                </li>
                <li class="list-group-item">
                    Brew Sessions <span class="badge">@Model.DashboardStatsViewModel.SessionCountLast6Months</span>
                </li>
                <li class="list-group-item">
                    Comments <span class="badge">@Model.DashboardStatsViewModel.CommentCountLast6Months</span>
                </li>
            </ul>
            <ul class="list-group hidden-xs">
                <li class="list-group-item disabled">
                    My Stats - All Time
                </li>
                <li class="list-group-item">
                    Recipes <span class="badge">@Model.DashboardStatsViewModel.RecipeCount</span>
                </li>
                <li class="list-group-item">
                    Brew Sessions <span class="badge">@Model.DashboardStatsViewModel.SessionCount</span>
                </li>
                <li class="list-group-item">
                    Comments <span class="badge">@Model.DashboardStatsViewModel.CommentCount</span>
                </li>
            </ul>

        </div>

    </div>
</div>