@using Brewgr.Web
@model IngredientListViewModel<Brewgr.Web.Core.Model.Fermentable>

@{
    ViewBag.Title = "Fermentables";
}

<div id="view-fermentables">

    <div class="ing-hero">
        <div class="intro">
            <h2>
                Fermentables are the sugary foods that yeast eat 
                to produce alcohol and carbon dioxide
            </h2>
            <p>
                Without fermentable sugars to eat, yeast would not be able to make alcohol, leaving you with a carboy full of flat boring wort.
                During the homebrew process, malted grains containing fermentable sugars are mashed in a mash tun where fermentable sugars are extracted into sweet wort. 
            </p>
            <p>
                Along with sugars that yeast will use to make alcohol, the malted grains also provide body, flavor and color to your homebrew.
            </p>
        </div>
        <div class="image">
            <img src="@Url.Image("~/img/cracked-grain.jpg")" alt="Cracked Grain"/>
        </div>
        <div class="clearall"></div>
    </div>
    
    <div class="margintop20"> </div>
    
    <div class="two_third">
            
        @foreach (var fgroup in Model.IngredientGroups)
        {
            <div class="ing-list">
                <h2>@fgroup.Category</h2>
                <ul class="ings">
                    @foreach (var fermentable in fgroup.Ingredients.OrderBy(x => x.Lovibond))
                    {
                        var lClass = fermentable.Lovibond >= 41 ? "srmBlack" : fermentable.Lovibond > 0 ? "srm" + fermentable.Lovibond : "srmWhite";

                        <li>
                            <a href="@Url.FermentableDetailUrl(fermentable.IngredientId, fermentable.Name)">@fermentable.Name</a>
                            <span class="data">
                                <span class="@lClass lovi">&nbsp;</span>&nbsp;<span>@fermentable.Lovibond&deg;</span>
                                <span class="marginleft10">Average Ppg: @fermentable.Ppg </span>
                            </span>
                        </li>
                    }
                </ul>
                <div class="clearall"></div>
            </div>
            
        }
    </div>
    <div class="top-ten one_third column-last margintop10">
        <h2 class="green">Top 10 Most Used Fermentables</h2>
        <ol>
            @foreach (var ingredient in Model.TopTen)
            {
                <li><a href="@Url.FermentableDetailUrl(ingredient.IngredientId, ingredient.Name)">@ingredient.Name</a></li>
            }                
        </ol>

        <h2 class="margintop30 marginbottom10">Add Custom Fermentables</h2>
        <p class="paddingright40">
            If you are using the Brewgr homebrew recipe calculator
            to create a new homebrew recipe and the fermentable
            you want to use is not listed, you can add a custom
            fermentable by selecting "Add Custom Fermentable"
            from the fermentable drop down menu.
        </p>
        <p class="paddingright40">
            Once you've added a custom fermentable, it will be available
            for any recipe you create.  If it is a fermentable that can be used by
            other brewers, we will promote your custom
            fermentable to a public fermentable that can be used by other
            Brewgr users.
        </p>

    </div>
</div>