@using Brewgr.Web
@model IngredientDetailViewModel<Brewgr.Web.Core.Model.Fermentable>

@{
    ViewBag.Title = Model.Ingredient.Name;
}

<div id="view-fermentabledetail" class="ing-detail-view">
    <div class="two_third leftsec">
        
        @if (Model.Recipes.Any())
        {
            <h3>Recipes that use @Model.Ingredient.Name</h3>
          
            @Html.Partial("_RecipeList", Model.Recipes)
            @Html.Partial("_PageNavigation", Model)
        }
        else
        {
            <h3>No Recipes to Display</h3>
            <p>
                Nobody has created a recipe that uses @Model.Ingredient.Name yet.  You can be the first to create one.
            </p>
            
            <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())" class="button button_green">Create a New Recipe</a>
        }		
    </div>
    <div class="one_third column-last rightsec margintop30" >
        <div class="summary">
            @if (Model.AffiliateProduct != null)
            {
                <div class="product">
                    <a rel="nofollow" target="_blank" href="@Model.AffiliateProduct.Url">
                        <img src="@Model.AffiliateProduct.ImageUrl" width="225" alt="MidwestSupplies.com" />
                    </a>
                        
                    <div class="name">@Model.AffiliateProduct.Name</div>
                    <div class="price">@(string.Format("{0:c}", Model.AffiliateProduct.Price))</div>
                        
                    <a class="button button_green" rel="nofollow" target="_blank" href="@Model.AffiliateProduct.Url">
                        Buy @Model.Ingredient.Name
                    </a>
                </div>
            }
        </div>
    </div>    
</div>