@using Brewgr.Web.Core.Model
@model IList<Brewgr.Web.Core.Model.IIngredient>

@{
	ViewBag.Title = "Homebrew Ingredients";	
}

<div id="view-ingredients">

    <p>
        Homebrew beer is made using a variety of homebrew ingredients including grains, malted grains, malted barley, sugars, fermentables, hops, hop pellets, whole leaf hops, 
        homebrew yeast, dry yeast, liquid yeast, spices and other adjuncts and miscellaneous homebrew ingredients.
    </p>

    <h2>Fermentables</h2>
    <ul id="fings">
        @foreach (var fermentable in Model.Where(x => x is Fermentable).Cast<Fermentable>().OrderBy(x => x.Lovibond))
        {
            var lClass = fermentable.Lovibond >= 41 ? "srmBlack" : fermentable.Lovibond > 0 ? "srm" + fermentable.Lovibond : "srmWhite";

            <li>
                <a href="#">@fermentable.Name</a>
                <span class="data">
                    <span class="@lClass lovi">&nbsp;</span>&nbsp;<span>@fermentable.Lovibond&deg;</span>
                    <span class="marginleft20">Average Ppg: @fermentable.Ppg </span>
                </span>
            </li>
        }
    </ul>

    <h2>Hops</h2>
    <ul>
        @foreach (var hop in Model.Where(x => x is Hop))
        {
            <li><a href="#">@hop.Name</a></li>
        }
    </ul>

    <h2>Yeasts</h2>
    <ul>
        @foreach (var yeast in Model.Where(x => x is Yeast))
        {
            <li><a href="#">@yeast.Name</a></li>
        }
    </ul>

    <h2>Adjuncts</h2>
    <ul>
        @foreach (var adjunct in Model.Where(x => x is Adjunct))
        {
            <li><a href="#">@adjunct.Name</a></li>
        }
    </ul>
    
</div>
