@using Brewgr.Web
@model IngredientListViewModel<Brewgr.Web.Core.Model.Hop>

@{
    ViewBag.Title = "Hops";
}

<div id="view-hops">
    <div class="ing-hero">
        <div class="intro">
            <h2>
                Hops are the key to balancing the sweetness of your homebrew 
                with bitterness and aroma
            </h2>
            <p>
                Without hops to add bitterness, homebrew would be much to sweet
                and would lack the pleasant aromas characteristic of a hoppy beer.
            </p>
            <p>
                Hops are grown in many parts of the world and different hop varieties
                are used in homebrew to make different styles of beer.                
            </p>
            <p>
                Popular hoppy styles of beer include India Pale Ale (IPA), Imperial IPA, 
                English IPA, Cascadian Dark Ale, Black IPA, Pale Ale and others. 
            </p>
        </div>
        <div class="image">
            <img src="@Url.Image("~/img/baby-hop-cones.jpg")" alt="Hop Cones"/>
        </div>
        <div class="clearall"></div>
    </div>

    <div class="margintop20"> </div>
    
    <div class="two_third">
            
        @foreach (var hgroup in Model.IngredientGroups)
        {
            <div class="ing-list">
                <h2>@hgroup.Category</h2>
               <ul class="ings">
                    @foreach (var hop in hgroup.Ingredients)
                    {
                        <li>
                            <img src="@Url.Image("~/img/hop-cone.jpg")" alt="hop cone" class="valignmiddle" /> <a href="@Url.HopDetailUrl(hop.IngredientId, hop.Name)" class="valignmiddle">@hop.Name</a>
                            <span class="data">
                                Average Alpha Acid: @hop.AA%
                            </span>
                        </li>
                    }
                </ul>
                <div class="clearall"></div>
            </div>
            
        }
    </div>
    <div class="top-ten one_third column-last margintop10">
        <h2 class="green">Top 10 Most Used Hop Varieties</h2>
        <ol>
            @foreach (var ingredient in Model.TopTen)
            {
                <li><a href="@Url.HopDetailUrl(ingredient.IngredientId, ingredient.Name)">@ingredient.Name</a></li>
            }                
        </ol>
        
        <h2 class="margintop30 marginbottom10">Add Custom Hops</h2>
        <p class="paddingright40">
            If you are using the Brewgr homebrew recipe calculator
            to create a new homebrew recipe and the hop variety
            you want to use is not listed, you can add a custom
            hop variety by selecting "Add Custom Hop"
            from the hop drop down menu.
        </p>
        <p class="paddingright40">
            Once you've added a custom hop variety, it will be available
            for any recipe you create.  If it is a hop variety that can be used by
            other brewers, we will promote your custom
            hop variety to a public hop variety that can be used by other
            Brewgr users.
        </p>

    </div>


</div>