@using Brewgr.Web
@model ContactViewModel
@{
	ViewBag.Title = "Contact Us";
	ViewBag.Description = "At Brewgr we understand that homebrewers all have different methods and preferences.  Want Brewgr to do something new that will help you?  Let us know!";
}
<div id="contact-view" class="content">
	<div class="two_third">
		@using (Html.BeginForm())
		{
			<div class="form-field">
				<div>@Html.LabelFor(m => m.Name, "Your Name")</div>
				<span>@Html.TextBoxFor(m => m.Name, new { size = 30 })</span>
			</div>
			<div class="form-field">
				<div>@Html.LabelFor(m => m.EmailAddress, "Your Email Address")</div>
				<span>@Html.TextBoxFor(m => m.EmailAddress, new { size = 30 })</span>
			</div>			
			<div class="form-field">
				<div>@Html.LabelFor(m => m.MessageContent, "Message")</div>
				<span>@Html.TextAreaFor(m => m.MessageContent)</span>
			</div>
	
			<input type="submit" value="Send Message" class="button button_green" />	
		}
	</div>
	<div class="one_third column-last">
		<h3>
			Contact Details</h3>
		<div class="contact">
			<div class="cont-detail">
				<img src="@Url.Image("~/img/mail1.png")" alt="" width="15" height="12" />
				<strong>Email:</strong> <a href="mailto:brewgr@brewgr.com">brewgr@brewgr.com</a></div>
		</div>
		
		<h3>Keep In Touch</h3>
		<ul class="touch">
			<li><a href="http://www.facebook.com/brewgr">
				<img src="@Url.Image("~/img/facebook.png")" alt="" />
			</a></li>
			<li><a href="http://www.twitter.com/Brewgr_com">
				<img src="@Url.Image("~/img/twitter.png")" alt="" border="0" /></a> </li>
			<li><a href="http://feeds.feedburner.com/brewgr">
					<img src="@Url.Image("~/img/rss.png")" alt="" border="0" /></a> </li>
			<li><a href="http://www.flickr.com/people/83842708@N02/">
				<img src="@Url.Image("~/img/flickr.png")" alt="" border="0" /></a> </li>
		</ul>
	</div>
</div>
