@using Brewgr.Web
@{
    ViewBag.Title = "How It Works";
	ViewBag.Description = "Fast and simple ingredient entry, easy to read calculations and all of your homebrew recipes in one place.  Always Free and no software to install.  Join now!";
}

<div id="howitworks">
    <div id="middle-wrapper">
      <div class="leftsec">
        <h2 class="howitworks-header">Powerful features, simplified.</h2>
        <div class="twocol-copyleft">
            <div class="twocol-copyleft-copy"><h3>Fast and simple ingredient entry.</h3><p>Add your ingredients, fermentables, hops, yeast, and extra ingredients to the homebrew recipe calculator. All values are completly customizable to match your local ingredients. Give your homebrew a name and a few equipment measurements; batch size, boil size, etc. You are also able to add a description and upload an image of your homebrew. <a href="@Url.Action("homebrew-recipe-calculator", "recipe", null, Url.Https())">Start crafting Great Beer →</a></p></div>
            <div class="twocol-copyleft-image"> <img src="/img/howbrewgrworks1.png" width="395" height="350" alt="How Brewgr Works step 1" /></div>
        </div>
        <div class="clearall"></div>
        <div class="twocol-copyright">
            <div class="twocol-copyright-image"><img src="/img/howbrewgrworks2.png" width="326" height="311" alt="How Brewgr Works step 2" /></div>
            <div class="twocol-copyright-copy"><h3>Easy to read calculations.</h3><p>All homebrew recipe facts are quickly calculated on the fly as you add ingredients to the recipe calculator allowing you to see exactly what kind of homebrew your recipe will create. <a href="@Url.Action("homebrew-recipe-calculator", "recipe", null, Url.Https())">It's free! Get started here →</a></p></div>
        </div>
        <div class="clearall"></div>
         <div class="twocol-copyleft">
            <div class="twocol-copyleft-copy twocol-copyleft-copy-small"><h3>See all your homebrew recipes in one place.</h3><p>Create and manage all your homebrew recipes in your homebrewer profile. You can quickly clone existing homebrew recipes that were created by you or other homebrewers. <a href="@Url.Action("Login", "Auth")">Create an account now, it's free →</a></p></div>
            <div class="twocol-copyleft-image"> <img src="/img/howbrewgrworks3.png" width="404" height="289" alt="How Brewgr Works step 3" /></div>
        </div>
      </div>
      <div class="rightsec">
        <p><a href="@Url.Action("homebrew-recipe-calculator", "recipe", null, Url.Https())" class="button button_green howitworksbuttons">Try Now, Create Recipe</a></p>
        <p><a href="@Url.Action("Login", "Auth")" class="button button_green howitworksbuttons">Create Free Account</a></p>
      </div>
    </div>
</div>


