@using Brewgr.Web
@using ctorx.Core.Messaging

@model HomePageViewModel

@{
	Layout = "~/Views/Shared/_CoreLayout.cshtml";
    ViewBag.Title = "Homebrew Recipes, Tools & Community";
}

<!-- Header Start-->
<div id="view-home">
    <div class="header-wrapper-light">
	    @Html.Partial("_Header")
        <div class="hero">
            <div class="copy">
                <h1 class="welcome">Homebrew Beer Recipes, Tools & Community</h1>
                <div class="description">
                    <p>
                        Welcome to Brewgr, a free online homebrew community to
                        help homebrewers find, create and share homebrew 
                        recipes with other homebrewers.  Join the many other
                        homebrewers who are already becoming better at making
                        beer by using our simplified yet powerful homebrew tools 
                        and homebrew calculators.  Sign up today to take your 
                        homebrew skills to the next level and connect with other homebrewers.
                    </p>
                    
                    <p class="bold">It's free to join.  Get started Today!</p>
                    
                    <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())" class="button button_green bold margintop10">Create Your First Recipe</a>
                </div>
            </div>
            <div class="search">
                <div class="top-search">
                    @Html.Partial("_SearchForm", new SearchViewModel())
                </div>
                <div class="clearall"> </div>
                <img src="@Url.Image("~/img/hero-screenshot.png")" alt="homebrewing software" class="margintop20"  />
            </div>
        </div>
    </div>

       @*  Middle Part Start *@
    <div id="middle-wrapper">
        
        <div class="ad-sense" style="width: 728px; margin: 18px auto;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- homepage letterboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-1415813402338064"
                 data-ad-slot="2591806581"></ins>
            <script>
			(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        @Html.Partial("_SiteMessages", ViewBag.Messages as IList<IMessage>)

        <div class="webdesign">
            <h3 class="green">New Homebrew Recipes</h3>
            @foreach (var recipeSummary in Model.NewRecipes)
            { 
                @Html.Partial("_RecipeWidget", recipeSummary)
            }
        </div>
        <div class="webdesign">
            <h3 class="green">Top Weekly Contributors</h3>
            @foreach (var userSummary in Model.TopContributors)
            { 
                @Html.Partial("_UserWidget", userSummary)
            }
        </div>
        <div class="webdesign no-margin">
            <h3 class="green">Popular Recipes</h3>
            @foreach (var recipeSummary in Model.PopularRecipes)
            { 
                @Html.Partial("_RecipeWidget", recipeSummary)
            }
        </div>

        <div class="clearall"> </div>

        <div class="divider margintop20 marginbottom20">
            <div class="lighting"></div>
        </div>
        
        <div class="webdesign">
            <a href="@Url.Action("login", "auth", null, Url.Https())"><h3 class="connect">Connect</h3></a>
            <p>
                A key to becoming a better homebrewer is connecting with other homebrewers. 
                Brewgr is a homebrew community where you can tap into the bounty of tried, true, 
                and tested homebrew recipes that exist in the arsenal of homebrewers everywhere. 
                Where beer recipes can easily be shared, searched, logged — and, most 
                importantly, brewed… and enjoyed!
            </p>
        </div>
        
        <div class="webdesign">
            <a href="@Url.Action("homebrew-recipes", "recipe", null, "http")"><h3 class="discover">Discover</h3></a>
            <p>
                Looking for homebrew recipes?  You've come to the
                right place.  Brewgr has many different homebrew recipes
                contributed by other users including American Pale Ale Recipes,
                American IPA Recipes, Robust Porter Recipes, Sweet Stout Recipes, 
                Brown Ale Recipes, Irish Red Recipes, and 
                many other homebrew recipes waiting to be brewed by you.
            </p>
        </div>
        
        <div class="webdesign no-margin">
            <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())"><h3 class="create">Create</h3></a>
            <p>
                Brewgr's homebrew recipe calculator, homebrew
                calculators and other homebrew tools give you real-time 
                calculations, as you build your recipe, allowing you to 
                see exactly what kind of homebrew your recipe will create.
                Use Brewgr's homebrew software tools and calculators to create
                the next best homebrew recipe for you and your friends enjoy.
            </p>
        </div>
        
        <div class="clearall"> </div>

        <div class="divider margintop20 marginbottom20">
            <div class="lighting"></div>
        </div>
        
        <h3>Online Homebrew Community</h3>
        <p>
            Each day more and more homebrewers like you are joining Brewgr's continually 
            growing homebrew community and becoming better homebrewers through sharing of 
            homebrew recipes and homebrew tips.  Join today and take your homebrewing 
            skills to the next level.
        </p>
        
        
    </div>
</div>
@*  Footer Part Start *@
@Html.Partial("_Footer")







