@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model BrewSessionViewModel

<style type="text/css">
    .working-dialog { min-width: 225px; }
</style>

<div class="brewsession@(@Model.IsNewBrewSession() ? " newbrewsession" : "")">
    
    <input type="hidden" name="s_BrewSessionId" data-name="s_BrewSessionId" value="@Model.BrewSessionId" />
    <input type="hidden" name="s_RecipeId" data-name="s_RecipeId" value="@Model.RecipeId" />

    @* Brew Session Info *@
    <div class="brewsessiondata info groupbox">
        <span>
            <h3>Brew Session Info</h3>
        </span>
        <div>
            <div class="values">
                <div>
                    <div class="title">
                        <label for="unit">Measurement</label>
                    </div>
                    <select name="unit" data-name="s_UnitType">
                        <option value="s" @(Model.UnitTypeId == (int)UnitType.USStandard ? "selected=\"selected\"" : "")>US</option>
                        <option value="m" @(Model.UnitTypeId == (int)UnitType.Metric ? "selected=\"selected\"" : "")>Metric</option>
                    </select>
                </div>
                <div>
                    <div class="title">
                        <label for="unit">Brew Date</label>
                    </div>
                    <input type="text" name="BrewDate" data-name="s_BrewDate" class="datepicker" value="@(Model.BrewDate != DateTime.MinValue ? Model.BrewDate.ToShortDateString() : "")" />
                </div>
            </div>

            <div class="clearall marginbottom20"> </div>

            <h4 class="inline no-margin">Notes</h4> (Include any important notes from brew day until tasting)
            <textarea name="notes" data-name="s_Notes" class="expand2-200">@Model.Notes</textarea>

            <div class="actions">
                @if (!Model.IsNewBrewSession())
                {
                    <a href="#" class="button_small button_black delete-brewsession" data-brewsessionid="@Model.BrewSessionId">Delete</a>
                }
                @if (Model.BrewSessionId > 0)
                {
                    if(Model.RecipeSummary.BrewSessionCount > 1)
                    {
                        <a href="@Url.RecipeBrewSessionsUrl(Model.RecipeSummary.RecipeId, Model.RecipeSummary.Name)" class="button button_small button_black">Other Brew Sessions</a>
                    }
                    <a href="@Url.RecipeEditUrl(Model.RecipeId)" class="button button_small button_gray floatright"><img src="~/img/icons/calculator.png" alt="edit" class="valignmiddle marginright10" /> <span class="valignmiddle">Go To Recipe</span></a>
                }                
            </div>
        </div>
    </div>
    
    @* Water Infusion *@
    @if (Model.RecipeSummary.GetRecipeType() != RecipeType.Extract)
    {
        <div class="groupbox">
            <span><h3 class="floatleft">Water Infusion</h3></span>
            @Html.Partial("_WaterInfusionCalculator", Model)
        </div>        
    }

    @* Mash / Boil *@
    <div class="groupbox">
        <span><h3 class="floatleft">@(Model.RecipeSummary.GetRecipeType() == RecipeType.Extract ? "Boil" : "Mash / Boil")</h3></span>
        <div class="padding18">

            @if (Model.RecipeSummary.GetRecipeType() != RecipeType.Extract)
            {
                <div class="summary marginbottom20">
                    <h3>Mash</h3>
                    <div class="item">
                        <label>
                            Mash PH
                            <span class="helptip" original-title="The measured PH of the mash">&nbsp;</span>
                        </label>
                        <span>
                            <input type="text" data-name="s_MashPH" value="@Model.MashPH" data-filter="positiveFloat" />
                            <span>PH</span>
                        </span>
                    </div>
                    <div class="item">
                        <label>
                            Mash Start Temp
                            <span class="helptip" original-title="The temperature of the mash at the beginning of the mash">&nbsp;</span>
                        </label>
                        <span>
                            <input type="text" data-name="s_MashStartTemp" value="@Model.MashStartTemp" data-filter="positiveFloat" />
                            <span>@Html.Raw("&deg;")<span data-unit="s">F</span><span data-unit="m">C</span></span>
                        </span>
                    </div>
                    <div class="item">
                        <label>
                            Mash End Temp
                            <span class="helptip" original-title="The temperature of the mash once it has finished.  This is used to track heat loss.">&nbsp;</span>
                        </label>
                        <span>
                            <input type="text" data-name="s_MashEndTemp" value="@Model.MashEndTemp" data-filter="positiveFloat" />
                            <span>@Html.Raw("&deg;")<span data-unit="s">F</span><span data-unit="m">C</span></span>
                        </span>
                    </div>
                    <div class="item">
                        <label>
                            Mash Time
                            <span class="helptip" original-title="The duration of the mash in minutes">&nbsp;</span>
                        </label>
                        <span>
                            <input type="text" data-name="s_MashTime" value="@Model.MashTime" data-filter="positiveInt" />
                            <span>minutes</span>
                        </span>
                    </div>
                </div>
            }
            <div class="summary">
                <h3>Boil</h3>
                <div class="item">
                    <label>
                        Pre-Boil Gravity
                        <span class="helptip" original-title="The specific gravity of the wort before boiling. This can be used to measure mash/lauter efficiency">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_PreBoilGravity" value="@(Model.PreBoilGravity != null ? string.Format("{0:0.000}", Model.PreBoilGravity) : "")" data-filter="positiveFloat" />
                    </span>
                </div>
                <div class="item">
                    <label>
                        Boil Volume
                        <span class="helptip" original-title="The volume of wort that was boiled">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_BoilVolumeActual" value="@Model.BoilVolumeActual" data-filter="positiveFloat" />
                        <span data-unit="s">gallons</span>
                        <span data-unit="m">liters</span>
                        <span class="predicted">
                            <span>(@Model.RecipeSummary.BoilSize.ToString("F2") @(Model.RecipeSummary.UnitType == "s" ? "gallons" : "liters") estimated)</span>
                        </span>
                    </span>
                </div>
                <div class="item">
                    <label>
                        Boil Time
                        <span class="helptip" original-title="The amount of time that the wort was boiled">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_BoilTimeActual" value="@Model.BoilTimeActual" data-filter="positiveInt" />
                        <span data-unit="s">minutes</span>
                        <span data-unit="m">minutes</span>
                        <span class="predicted">
                            <span>(@Model.RecipeSummary.BoilTime minutes estimated)</span>
                        </span>
                    </span>
                </div>
                <div class="item">
                    <label>
                        Post-Boil Volume
                        <span class="helptip" original-title="The volume of wort after the boil has completed">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_PostBoilVolume" value="@Model.PostBoilVolume" data-filter="positiveFloat" />
                        <span data-unit="s">gallons</span>
                        <span data-unit="m">liters</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    @* Fermentation *@
    <div class="groupbox">
        <span><h3 class="floatleft">Fermentation</h3></span>
        <div class="padding18">
            <div class="summary">
                <div class="item">
                    <label>
                        Volume in Fermenter
                        <span class="helptip" original-title="The volume of wort that was transferred to the fermenter">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_FermentVolumeActual" value="@Model.FermentVolumeActual" data-filter="positiveFloat" />
                        <span data-unit="s">gallons</span>
                        <span data-unit="m">liters</span>
                        <span class="predicted">
                            <span>(@Model.RecipeSummary.BatchSize.ToString("F2") @(Model.RecipeSummary.UnitType == "s" ? "gallons" : "liters") estimated)</span>
                        </span>
                    </span>
                </div>
                <div class="item">
                    <label>
                        Original Gravity
                        <span class="helptip" original-title="The specific gravity of the wort at the beginning of fermentation">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_OriginalGravity" value="@(Model.OriginalGravity != null ? string.Format("{0:0.000}", Model.OriginalGravity) : "")" data-filter="positiveFloat" />
                        <span data-unit="s"></span>
                        <span data-unit="m"></span>
                        <span class="predicted">(@string.Format("{0:0.000}", Model.RecipeSummary.Og) predicted)</span>
                    </span>                    
                </div>
                <div class="item">
                    <label>
                        Final Gravity
                        <span class="helptip" original-title="The specific gravity of the wort at the end of fermentation">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_FinalGravity" value="@(Model.FinalGravity != null ? string.Format("{0:0.000}", Model.FinalGravity) : "")" data-filter="positiveFloat" />
                        <span data-unit="s"></span>
                        <span data-unit="m"></span>
                        <span class="predicted">(@string.Format("{0:0.000}", Model.RecipeSummary.Fg) predicted)</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    @* Conditioning *@
    <div class="groupbox">
        <span><h3 class="floatleft">Conditioning</h3></span>
        <div class="padding18">
            <div class="summary">
                <div class="item">
                    <label>
                        Condition Date
                        <span class="helptip" original-title="The date that you transferred the fermented wort from your fermenter to bottles or a keg">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_ConditionDate" value="@(Model.ConditionDate.HasValue ? Model.ConditionDate.Value.ToShortDateString() : "")" class="datepicker" />
                    </span>
                </div>
                <div class="item">
                    <label>
                        Bottle/Keg
                        <span class="helptip" original-title="Where the fermented wort eventually ended up">&nbsp;</span>
                    </label>
                    <select data-name="s_ConditionType">
                        <option value=""></option>
                        <option value="@((int)ConditionType.Bottle)" @(Model.ConditionTypeId == (int)ConditionType.Bottle ? " selected" : "")>@ConditionType.Bottle</option>
                        <option value="@((int)ConditionType.Keg)" @(Model.ConditionTypeId == (int)ConditionType.Keg ? " selected" : "")>@ConditionType.Keg</option>
                    </select>
                </div>
                <div class="item bottle-field">
                    <label>
                        Priming Sugar Type
                        <span class="helptip" original-title="The type of priming sugar used (i.e. dextrose)">&nbsp;</span>
                    </label>
                    <input type="text" data-name="s_PrimingSugarType" value="@Model.PrimingSugarType" />
                </div>
                <div class="item bottle-field">
                    <label>
                        Priming Sugar Amount
                        <span class="helptip" original-title="The amount of priming sugar used">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_PrimingSugarAmount" value="@Model.PrimingSugarAmount" data-filter="positiveFloat" />
                        <span data-unit="s">oz</span>
                        <span data-unit="m">g</span>
                    </span>
                </div>
                <div class="item keg-field">
                    <label>
                        Keg PSI
                        <span class="helptip" original-title="The target pounds per square inch (PSI) of c02 used to carbonate the beer in the keg">&nbsp;</span>
                    </label>
                    <span>
                        <input type="text" data-name="s_KegPSI" value="@Model.KegPSI" data-filter="positiveFloat" />
                        <span>PSI</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
