
@if (Request.QueryString["iframe"] == "1") { 
    <style type="text/css">
    #middle-wrapper { width: 769px; }
    .portright { width:521px; }
    </style>
}

<div class="compliment">
    <ul class="portfolio_list spacermin10">
        <li><span>&rarr;</span> <a href="@Url.Action("Calculations", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Homebrew Calculations</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculationsOriginalGravity", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calculate Original Gravity</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculationsFinalGravity", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calculate Final Gravity</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculationsSRM", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calculate SRM/Beer Color</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculationsIBU", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calculate IBU/Hop Bitterness</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculationsAlcohol", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calculate Alcohol Content</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculationsCalories", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calculate Calories</a></li>
    </ul>

    <div class="ad-sense" style="clear: both; padding-top: 10px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SkyScraper -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:160px;height:600px"
             data-ad-client="ca-pub-1415813402338064"
             data-ad-slot="2438748986"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>

