@{
    if (Request.QueryString["iframe"] == "1") { this.Layout = "~/Views/Shared/_LayoutNoShell.cshtml"; }
    ViewBag.Title = "How to Make Homebrew Calculations";
    ViewBag.Description = "How to make homebrew calculations.";
    ViewBag.Canonical = "http://brewgr.com/calculations";
}

<div id="view-calculations">
    <div class="calculations">
    @Html.Partial("_CalculationsNavigation")

        <div class="primary">
            <h3>Homebrew Calculations</h3>

            <div class="ad-sense" style="width: 728px; margin: 18px auto;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- calculations letterboard -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-1415813402338064"
                     data-ad-slot="3928938982"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <p>Homebrew calculations can be very complicated. We have done all the hard work for you. Just plug-in your ingredients and Brewgr will make all the difficult calculations so you can focus on crafting great beer. If you are curious how Brewgr makes it's calculations please select a calculation below:</p>

            <ul class="maincalcs">
                <li><a href="@Url.Action("CalculationsOriginalGravity", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Original Gravity</a><br />Origianl Gravity is the specific gravity of your wort before fermentation.</li>
                <li><a href="@Url.Action("CalculationsFinalGravity", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Final Gravity</a><br />Final Gravity is the specific gravity of your wort after fermentation has completed.</li>
                <li><a href="@Url.Action("CalculationsSRM", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">SRM/Beer Color</a><br />Standard Reference Method/SRM/Beer Color is the color of your homebrew.</li>
                <li><a href="@Url.Action("CalculationsIBU", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">IBU/Hop Bitterness</a><br />International Bittering Units, or IBU, is the measure of bitterness of homebrew that comes from the boiling of hops.</li>
                <li><a href="@Url.Action("CalculationsAlcohol", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Alcohol Content</a><br />Alcohol content, measured by volume (ABV) or by weight (ABW), is the amount of alcohol that was produced in your homebrew during fermentation.</li>
                <li><a href="@Url.Action("CalculationsCalories", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Calories</a><br />The number of calories in your homebrew.</li>
            </ul>
        </div>    
    </div>
</div>

