@model ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post))
{
    <h3 class="margintop10">Change Your Password</h3>
    
    <div class="form-field">
        @Html.LabelFor(m => m.CurrentPassword, "Current Password")    
        <span>@Html.TextBoxFor(m => m.CurrentPassword, new { type = "password" }) </span>
    </div>
	<div class="form-field">
		@Html.LabelFor(m => m.NewPassword, "New Password")
		<span>@Html.TextBoxFor(m => m.NewPassword, new { type = "password" })</span> 
	</div>
	<div class="form-field">
		@Html.LabelFor(m => m.ConfirmNewPassword, "Re-Type New Password")
		<span>@Html.TextBoxFor(m => m.ConfirmNewPassword, new { type = "password" }) </span>
	</div>

    <div class="clearall"></div>
    
    <input type="submit" class="button button_green margintop20" value="Set New Password" />
    
    <div class="fb-note">
        <p>If you created your account via Facebook or you can't remember your current password,
            you can reset your password <a href="@Url.Action("reset-password", "Auth")" class="bold">here</a>
        </p>
    </div>
}