@model UserSettingsViewModel

@using(Html.BeginForm())
{
    <h3 class="margintop10">Personal Information</h3>
	  
    <input type="hidden" id="DummyField" value="value" data-val="true" data-val-required="Not Empty" class="valid" />
                    
    @Html.HiddenFor(m => m.UserId)
                    
    <div class="form-field marginbottom10">
        <label for="Username" class="@(Model.HasCustomUsername ? "valigntop paddingtop6" : "")">Username</label>
        <span id="UsernameField" style="@(!Model.HasCustomUsername ? "display: none;" : "")">
            @Html.TextBoxFor(m => m.Username, new { @class = "username"})<div id="username-avail" class="bold"></div>
            <p>Usernames are used to identify you on the site and for your Brewgr Url.  Only letters, numbers and dashes are allowed.</p>
        </span>
        @if (!Model.HasCustomUsername)
        {
            <span id="UsernameFieldToggle">
                You have not chosen a username. <a href="#" class="bold" id="ChooseUsername">Choose a Username</a>
            </span>
        }
    </div>
    
    <div class="form-field">
        <label class="valigntop">Avatar</label>
        <span>
            <a href="http://www.gravatar.com" target="_blank" class="bold">Change Avatar at Gravatar</a>
            <p class="marginleft0">Brewgr uses gravatar.com for user avatars.</p>
        </span>
    </div>
        
    <div class="form-field">
        @Html.LabelFor(m => m.EmailAddress, "Email Address")
        <span>@Html.TextBoxFor(m => m.EmailAddress, new { @class = "emailaddress" })<div id="emailinuse" class="bold"></div></span>
    </div>
                    
    <div class="form-field">
        @Html.LabelFor(m => m.FirstName, "First Name")
        <span>@Html.TextBoxFor(m => m.FirstName)</span>
    </div>
                    
    <div class="form-field">
        @Html.LabelFor(m => m.LastName, "Last Name") 
        <span>@Html.TextBoxFor(m => m.LastName)</span>
    </div>

    <div class="clearall">&nbsp;</div>

        <div class="form-field">
            <label for="Bio" class="valigntop paddingtop6">Bio</label>
            <span>@Html.TextAreaFor(m => m.Bio, 5, 60, null)<br />
            <span id="suggest-limit"></span>
        </span>
    </div>
                    
    <div class="clearall"></div>
                    
    <input id="savesettings" type="submit" class="button button_green" value="Save Changes" />	
}
