@using Brewgr.Web
@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserSummary.Username + " - Homebrewer Profile";
    ViewBag.Description = Model.GetDescription();
    ViewBag.Canonical = Url.UserProfileUrl(Model.UserSummary.Username);
}

<div id="view-userprofile">
    <div class="profile-photo">
        <img src="@Model.UserSummary.GetAvatar(200)" width="200" height="200" alt="@Model.UserSummary.Username" />
    </div>
    <div class="summary">
        <h2 id="ProfileName" class="floatleft">@Model.UserSummary.Username</h2>
        @Html.Partial("_FollowBrewerButton", Model.UserSummary)
        <div>
            <div class="form-field">
                <label>Member Since</label>
                <span>@Model.UserSummary.DateCreated.ToShortDateString()</span>   
            </div>
            <div class="form-field">
                <label>Recipes</label>
                <span>@Model.Recipes.Count</span>   
            </div>
            <div class="form-field">
                <label>Brew Sessions</label>
                <span>@Model.BrewSessionSummaries.Count</span>   
            </div>
            <div class="clearall"> </div>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.UserSummary.Bio))
        {
            <p class="margintop10">
                @Html.Partial("_StringWithLineBreaks", Model.UserSummary.Bio)
            </p>
        }                    
    </div>
</div>

<div class="clearall"></div>

<div id="result-tabs" class="tabs margintop20">
    <div class="tab-inner">
        <ul class="nav clearfix">
            <li><a href="#tab-tab-1">Recipes (@Model.Recipes.Count)</a></li>
            <li><a href="#tab-tab-2">Brew Sessions (@Model.BrewSessionSummaries.Count)</a></li>
            <li><a href="#tab-tab-3">Followers (@Model.Followers.Count)</a></li>
            <li><a href="#tab-tab-4">Following (@Model.Follows.Count)</a></li>
        </ul>
        <div id="tab-tab-1" class="tab">
            <div class="content">
                @if (Model.Recipes.Any())
                {
                    @Html.Partial("_RecipeList", Model.Recipes)
                }
                else
                {
                    <span>@Model.UserSummary.Username has not created any recipes yet.</span>
                }
            </div>
        </div>
        <div id="tab-tab-2" class="tab">
            <div class="content">
                @if (Model.BrewSessionSummaries.Any())
                {
                    @Html.Partial("_BrewSessionList", Model.BrewSessionSummaries)
                }
                else
                {
                    <span>@Model.UserSummary.Username has not created any brew sessions yet.</span>
                }
            </div>
        </div>
        
        <div id="tab-tab-3" class="tab">
            <div class="content">
                @if (Model.Followers.Any())
                {
                    <div class="mini-user-wrapper">
                        @foreach (var follower in Model.Followers)
                        {
                            @Html.Partial("_MiniUser", follower)
                        }
                    </div>
                }
                else
                {
                    @Model.UserSummary.Username <text>is not followed by any brewers</text>
                }
            </div>
        </div>
        <div id="tab-tab-4" class="tab">
            <div class="content">
                @if (Model.Follows.Any())
                {
                    <div class="mini-user-wrapper">
                        @foreach (var user in Model.Follows)
                        {
                            @Html.Partial("_MiniUser", user)
                        }
                    </div>
                }
                else
                {
                    @Model.UserSummary.Username <text>is not following any brewers</text>
                }
                
                <div class="clearall"> </div>
            </div>
        </div>
    </div>
</div>
