@using Brewgr.Web
@using Brewgr.Web.Core.Configuration
@using Brewgr.Web.Core.Model

@{
	var fermentables = ViewBag.CustomFermentables;
	var hops = ViewBag.CustomHops;
	var yeasts = ViewBag.CustomYeasts;
	var adjuncts = ViewBag.CustomAdjuncts;
}
		
<h3>Fermentables</h3>
@if(fermentables != null && fermentables.Count > 0)
{
	<table class="admin-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Created By</th>
				<th>Name</th>
				<th>Ppg</th>
				<th>L</th>
				<th>Usage</th>
				<th>Promote</th>
			</tr>
		</thead>
		<tbody>
			@foreach(Fermentable fermentable in fermentables)
			{
				<tr class="@(fermentables.IndexOf(fermentable) %2 == 0 ? "even" : "")">
					<td>@fermentable.IngredientId</td>
				    <td>
				        @if(fermentable.User != null)
				        {
				            <a href="@Url.UserProfileUrl(fermentable.User.Username)">@fermentable.User.Username</a> <span>(@fermentable.User.UserId)</span>
				        }
				    </td>
					<td>@fermentable.Name</td>
					<td>@fermentable.Ppg</td>
					<td>@fermentable.Lovibond</td>
					<td>@((FermentableUsageType)fermentable.DefaultUsageTypeId)</td>
				    <td>
				        <input type="text" name="category" size="15" style="font-size: 11px;" />&nbsp;
				        <a href="#" data-promoteurl="PromoteFermentable" data-id="@fermentable.IngredientId">promote</a>
				    </td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<text>There are no non-public custom Fermentables</text>
}

<hr />

<h3>Hops</h3>
@if(hops != null && hops.Count > 0)
{
	<table class="admin-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Created By</th>
				<th>Name</th>
				<th>AA</th>
				<th>Promote</th>
			</tr>
		</thead>
		<tbody>
			@foreach(Hop hop in hops)
			{
				<tr class="@(hops.IndexOf(hop) % 2 == 0 ? "even" : "")">
					<td>@hop.IngredientId</td>
					<td><a href="@Url.UserProfileUrl(hop.User.Username)">@hop.User.Username</a> (@hop.User.UserId)</td>
					<td>@hop.Name</td>
					<td>@hop.AA</td>
				    <td>
				        <input type="text" name="category" size="15" style="font-size: 11px;" />&nbsp;
                        <a href="#" data-promoteurl="PromoteHop" data-id="@hop.IngredientId">promote</a>
				    </td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<text>There are no non-public custom Hops</text>
}

<hr />

<h3>Yeasts</h3>
@if(yeasts != null && yeasts.Count > 0)
{
	<table class="admin-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Created By</th>
				<th>Name</th>
				<th>Atten</th>
				<th>Promote</th>
			</tr>
		</thead>
		<tbody>
			@foreach(Yeast yeast in yeasts)
			{
				<tr class="@(yeasts.IndexOf(yeast) % 2 == 0 ? "even" : "")">
					<td>@yeast.IngredientId</td>
					<td><a href="@Url.UserProfileUrl(yeast.User.Username)">@yeast.User.Username</a> (@yeast.User.UserId)</td>
					<td>@yeast.Name</td>
					<td>@yeast.Attenuation</td>
				    <td>
				        <input type="text" name="category" size="15" style="font-size: 11px;" />&nbsp;
                        <a href="#" data-promoteurl="PromoteYeast" data-id="@yeast.IngredientId">promote</a>
				    </td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<text>There are no non-public custom Yeasts</text>
}

<hr />

<h3>Adjuncts</h3>
@if(adjuncts != null && adjuncts.Count > 0)
{
	<table class="admin-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Created By</th>
				<th>Name</th>
				<th>Promote</th>
			</tr>
		</thead>
		<tbody>
			@foreach(Adjunct adjunct in adjuncts)
			{
				<tr class="@(adjuncts.IndexOf(adjunct) % 2 == 0 ? "even" : "")">
					<td>@adjunct.IngredientId</td>
					<td><a href="@Url.UserProfileUrl(adjunct.User.Username)">@adjunct.User.Username</a> (@adjunct.User.UserId)</td>
					<td>@adjunct.Name</td>
				    <td>
				        <input type="text" name="category" size="15" style="font-size: 11px;" />&nbsp;
                        <a href="#" data-promoteurl="Promoteadjunct" data-id="@adjunct.IngredientId">promote</a>
				    </td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<text>There are no non-public custom Adjuncts</text>
}
	