@using Brewgr.Web
@using Brewgr.Web.Core.Configuration
@using Brewgr.Web.Core.Model

@{
	var suggestions = ViewBag.Suggestions as IList<UserFeedback>;
}

<h3>User Feedback</h3>

@if (suggestions.Any())
{
    <table class="admin-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Date</th>
                <th>Feedback</th>
                <th>Responded</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var suggestion in suggestions)
            {
                <tr class="@(suggestions.IndexOf(suggestion)%2 == 0 ? "even" : "")">
                    <td>@suggestion.UserFeedbackId</td>
                    <td class="username">
                        @if (suggestion.User != null)
                        {
                            <a href="@Url.UserProfileUrl(suggestion.User.CalculatedUsername)">@suggestion.User.CalculatedUsername</a>
                            <span>(@suggestion.UserId)</span>
                            <br />
                            @suggestion.User.EmailAddress
                        }
                        else
                        {
                            <text>Anonymous</text>
                        }					
                    </td>
                    <td>@suggestion.DateCreated</td>
                    <td>@suggestion.Feedback</td>
                    <td>
                        <div><a href="#" data-userfeedbackid="@suggestion.UserFeedbackId" class="button button_gray">Responded</a></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There is currently no new user feedback.</p>
}