@using Brewgr.Web
@using Brewgr.Web.Core.Configuration
@using Brewgr.Web.Core.Model
@model SiteStats

<h3>Object Counts</h3>
<div class="data">
	<label>Recipe Count</label>
	<span>@(string.Format("{0:n0}", Model.RecipeCount))</span>
</div>
		
<div class="data">
	<label>Brew Session Count</label>
	<span>@(string.Format("{0:n0}", Model.BrewSessionCount))</span>
</div>
				
<div class="data">
	<label>User Count</label>
	<span>@(string.Format("{0:n0}", Model.UserCount))</span>
</div>
				
<div class="data">
	<label>Logins last 24 Hours</label>
	<span>@(string.Format("{0:n0}", Model.LoginCountLast24Hours))</span>
</div>

<div class="data">
	<label>Custom Ing. Count</label>
	<span>@(string.Format("{0:n0}", Model.CustomIngredientCount))</span>
</div>
				
<div class="data">
	<label>Comment Count</label>
	<span>@(string.Format("{0:n0}", Model.CommentCount))</span>
</div>

<div class="data">
    <label>Tasting Note Count</label>
    <span>@(string.Format("{0:n0}", Model.TastingNoteCount))</span>
</div>
				

<hr />
				
<div class="limitheight">
	<h3>Last 25 Recipes</h3>
	<ul class="list">
		@foreach(var recipe in Model.Last25Recipes)
		{
			<li>
				<a href="@Url.RecipeDetailUrl(recipe.RecipeId, recipe.RecipeName, (recipe.BJCPStyleName))"><b>@recipe.RecipeName</b></a>
				by
				<a href="@Url.UserProfileUrl(recipe.CreatedByUserName)">@recipe.CreatedByUserName</a>
				on
				@recipe.DateCreated
			</li>
		}
	</ul>
</div>

<hr />
				
<div class="limitheight">
	<h3>Last 25 User Sign Ups</h3>
	<ul class="list">
		@foreach(var user in Model.Last25Users)
		{
			<li>
				<a href="@Url.UserProfileUrl(user.Username)">@user.Username</a> ( @user.FullName ) created on @user.DateCreated
			</li>
		}
	</ul>
</div>
				
<hr />

<div class="limitheight">
	<h3>Recent Custom Ingredients - TODO: Get More Useful Info Here</h3>
	<ul class="list">
		@foreach(IIngredient ingredient in Model.RecentCustomIngredients)
		{
			<li>@ingredient.Name (@(ingredient.GetType().Name))</li>
		}
	</ul>
</div>

<hr />

<div class="limitheight">
	<h3>Last 25 Recipe Comments</h3>
	<ul class="list">
		@foreach(RecipeComment recipeComment in Model.Last25RecipeComments)
		{
			<li>@recipeComment.DateCreated - <a href="@Url.UserProfileUrl(recipeComment.User.Username)">@recipeComment.User.Username</a> @recipeComment.CommentText</li>
		}
	</ul>
</div>

<hr />

<div class="limitheight">
	<h3>Last 25 Recipe Brew Comments</h3>
	<ul class="list">
		@foreach(BrewSessionComment brewSessionComment in Model.Last25BrewSessionComments)
		{
			<li>@brewSessionComment.DateCreated - <a href="@Url.UserProfileUrl(brewSessionComment.User.Username)">@brewSessionComment.User.Username</a> @brewSessionComment.CommentText</li>
		}
	</ul>
</div>