@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model Brewgr.Web.Core.Model.SiteStats
@{
    Layout = "_AdminLayout.cshtml";
	ViewBag.Title = "Admin Tools";
}

<div id="view-admin" class="content">
    <div class="tabs">
		<div class="tab-inner">
			<ul class="nav clearfix">
				<li><a href="#tab-tab-1">Summary</a></li>
				<li><a href="#tab-tab-2">System</a></li>
				<li><a href="#tab-tab-3">Feedback</a></li>
				<li><a href="#tab-tab-4">Custom Ingredients</a></li>
			    <li><a href="#tab-tab-5">Styles</a></li>
			</ul>
			<div id="tab-tab-1" class="tab">
				@Html.Partial("_Summary")
			</div>
			<div id="tab-tab-2" class="tab">
				@Html.Partial("_System")
			</div>
			<div id="tab-tab-3" class="tab">
				@Html.Partial("_Feedback")
			</div>
			<div id="tab-tab-4" class="tab">
				@Html.Partial("_CustomIngredients")
			</div>
		    <div id="tab-tab-5" class="tab">
				@Html.Partial("_Styles")
			</div>
		</div>
	</div>

</div>
