@using Brewgr.Web.Core.Model
@model SendToShopOrderViewModel

<div id="step-3" class="step hidden">
    <h2 class="marginbottom5">Verify Your Ingredients</h2>
    <p>
        Please verify the ingredients, amounts and options as you'd like them prepared. 
    </p>
                
    @* Fermentables *@
    <div class="ingGroup">
        <h3 class="marginbottom5">Fermentables</h3>
        <div class="ingList">
            <table id="flist">
                <thead>
                    <tr>
                        <td></td>
                        <td class="aligncenter">Amount (@(Model.Recipe.UnitTypeId == (int)UnitType.USStandard ? "lb" : "kg"))</td>
                        <td class="paddingleft20">Name</td>
                        <td class="aligncenter">Instructions</td>                            
                    </tr>
                </thead>
                <tbody>
                    @foreach (RecipeFermentable fermentable in Model.Recipe.Fermentables)
                    {
                        <tr class="ingRow">
                            <td>
                                @if(Model.IngredientAvailable(IngredientType.Fermentable, fermentable.IngredientId))
                                {
                                    <input type="checkbox" class="enabled" checked="checked" />
                                }
                            </td>
                            <td class="aligncenter">
                                @if(Model.IngredientAvailable(IngredientType.Fermentable, fermentable.IngredientId))
                                {
                                    <input data-val="true" data-val-required="" type="text" size="2" value="@fermentable.Amount" data-ingtypeid="@((int)IngredientType.Fermentable)" data-ingid="@fermentable.IngredientId" data-unittype="@(Model.Recipe.UnitTypeId == (int)UnitType.USStandard ? "lb" : "kg")" />
                                }
                                else
                                {
                                    <span>Not Available</span>
                                }
                            </td>
                            <td class="paddingleft20"><span>@fermentable.Fermentable.Name</span></td>
                            <td class="aligncenter">
                                @if(Model.IngredientAvailable(IngredientType.Fermentable, fermentable.IngredientId))
                                {
                                    <div class="instruct">
                                        <input type="checkbox" checked="checked" value="Crush" /> <label>Crush</label>
                                    </div>
                                    <div class="instruct">
                                        <input type="checkbox" value="Seperate" /> <label>Seperate</label>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @* Hops *@
    <div class="ingGroup">
        <h3 class="marginbottom5">Hops</h3>
        <div class="ingList">
            <table id="hlist">
                <thead>
                    <tr>
                        <td></td>
                        <td class="aligncenter">Amount (@(Model.Recipe.UnitTypeId == (int)UnitType.USStandard ? "oz" : "g"))</td>
                        <td class="paddingleft20">Name</td>
                        <td class="aligncenter">Instructions</td>                            
                    </tr>
                </thead>
                <tbody>
                    @foreach (RecipeHop hop in Model.Recipe.Hops)
                    {
                        <tr class="ingRow">
                            <td> @if(Model.IngredientAvailable(IngredientType.Hop, hop.IngredientId))
                                 {
                                     <input type="checkbox" class="enabled" checked="checked" />
                                 }
                            </td>
                            <td class="aligncenter">
                                @if(Model.IngredientAvailable(IngredientType.Hop, hop.IngredientId))
                                {
                                    <input data-val="true" data-val-required=""  type="text" size="2" value="@hop.Amount"  data-ingtypeid="@((int)IngredientType.Hop)" data-ingid="@hop.IngredientId" data-unittype="@(Model.Recipe.UnitTypeId == (int)UnitType.USStandard ? "oz" : "g")" />
                                }
                                else
                                {
                                    <span>Not Available</span>
                                }
                            </td>
                            <td class="paddingleft20"><span>@hop.Hop.Name</span></td>
                            <td class="aligncenter">
                                @if(Model.IngredientAvailable(IngredientType.Hop, hop.IngredientId))
                                {
                                    <div class="instruct">
                                        <input type="checkbox" @(hop.HopTypeId == (int)HopType.Leaf ? "checked=\"checked\"" : "") value="Prefer Leaf" /> <label>Prefer Leaf</label>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
                

    @* Yeasts *@
        <div class="ingGroup">
        <h3 class="marginbottom5">Yeast</h3>
        <div class="ingList">
            <table id="ylist">
                <thead>
                    <tr>
                        <td></td>
                        <td class="aligncenter">Amount (each)</td>
                        <td class="paddingleft20">Name</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RecipeYeast yeast in Model.Recipe.Yeasts)
                    {
                        <tr class="ingRow">
                            <td>@if(Model.IngredientAvailable(IngredientType.Yeast, yeast.IngredientId))
                                {
                                    <input type="checkbox" class="enabled" checked="checked" />
                                }
                            </td>
                            <td class="aligncenter">
                                @if(Model.IngredientAvailable(IngredientType.Yeast, yeast.IngredientId))
                                {
                                    <input data-val="true" data-val-required=""  type="text" size="2" value="1"  data-ingtypeid="@((int)IngredientType.Yeast)" data-ingid="@yeast.IngredientId" data-unittype="each" />
                                }
                                else
                                {
                                    <span>Not Available</span>
                                }
                            </td>
                            <td class="paddingleft20"><span>@yeast.Yeast.Name</span></td>
                        </tr>       
                    }
                </tbody>
            </table>
        </div>
    </div>

    @* Adjuncts *@
        <div class="ingGroup">
        <h3 class="marginbottom5">Other Stuff</h3>
        <div class="ingList">
            <table id="alist">
                <thead>
                    <tr>
                        <td></td>
                        <td class="aligncenter">Amount</td>
                        <td class="aligncenter">Unit</td>
                        <td class="paddingleft20">Name</td>
                    </tr>
                </thead>
                <tbody>
                            
                    @foreach (RecipeAdjunct adjunct in Model.Recipe.Adjuncts)
                    {
                        <tr class="ingRow">
                            <td>@if(Model.IngredientAvailable(IngredientType.Adjunct, adjunct.IngredientId))
                                {
                                    <input type="checkbox" class="enabled" checked="checked" />
                                }
                            </td>
                            <td class="aligncenter">
                                @if(Model.IngredientAvailable(IngredientType.Adjunct, adjunct.IngredientId))
                                {
                                    <input data-val="true" data-val-required=""  type="text" size="2" value="@adjunct.Amount"  data-ingtypeid="@((int)IngredientType.Adjunct)" data-ingid="@adjunct.IngredientId" data-unittype="@adjunct.Unit" />
                                }
                                else
                                {
                                    <span>Not Available</span>
                                }
                            </td>
                            <td class="aligncenter">@adjunct.Unit</td>
                            <td class="paddingleft20"><span>@adjunct.Adjunct.Name</span></td>
                        </tr>        
                    }
                </tbody>
            </table>
        </div>
    </div>
            
    <div class="marginbottom20">
        <h3 class="marginbottom5">Comments / Instructions</h3>
        @Html.TextAreaFor(m => m.Comments)
    </div>
    

    <div class="terms marginbottom20">
                
        <div id="sendtoshop-terms" class="hidden">
            @Html.Partial("_Terms")
        </div>              

        <input type="checkbox" id="terms-agree" name="terms-agree" value="true" /> 
        <label for="terms-agree">I agree to Brewgr's <a href="#" id="terms-link">Send-To-Shop Terms of Use</a>.</label>
    </div>

    <a href="#step-2" data-nav="true" class="button button_gray"><< Back</a>
    <a id="send-recipe" href="#" class="button button_green floatright">Send Recipe >></a>
            
</div>