@using ctorx.Core.Primitives
@model RecipeStepViewModel

<tr data-datarow="1">
    <td>
        <input type="hidden" data-name="s_Id" data-track="1" value="@Model.Id.WhenNull("{{=Id}}")"  />
        <input type="hidden" data-name="s_Rank" data-track="1" value="@Model.Rank.WhenNull("{{=Rank}}")" />
        <span data-name="s_RankLabel">@Model.Rank.WhenNull("{{=Rank}}").</span>
    </td>
    <td>
        <input type="text" data-name="s_Text" data-track="1" value="@Model.Text" placeholder="Enter a brewing step here" />
    </td>
    <td>
        <img src="@Url.Content("~/img/icons/arrow_ns.png")" data-name="sort" tabindex="-1" alt="" title="Drag to Sort" />
        <img src="@Url.Content("~/img/icons/delete.png")" data-name="remove" title="Remove" />
    </td>
</tr>