@using Brewgr.Web
@model RecipeViewModel         
  
@{
    Html.EnableUnobtrusiveJavaScript(false);
}

@*
    This has to be here -- don't get rid of it.  kthxbye
*@
<style type="text/css">
    [data-unit=@Model.UnitType] { display: inline; }
</style>

@* Recipe Info *@
@Html.Partial("_BuilderInfo", Model)

@* Fermentables *@
@Html.Partial("_BuilderFermentableTable", Model.Fermentables)

@* Hops *@
@Html.Partial("_BuilderHopTable", Model.Hops, new ViewDataDictionary(this.ViewData){ { "IbuFormula", Model.IbuFormula} })

@* Yeast *@
@Html.Partial("_BuilderYeastTable", Model.Yeasts)

@* Adjuncts *@
@Html.Partial("_BuilderAdjunctTable", Model.Others, new ViewDataDictionary(this.ViewData){{ "UnitType", Model.UnitType }})
     
@* Mash Steps *@
@Html.Partial("_BuilderMashStepTable", Model.MashSteps)
   
@* Brewing Steps *@
@Html.Partial("_BuilderStepTable", Model.Steps)

@* Dialogs *@
<div class="hidden">
    @Html.Partial("_BuilderScaleDialog")
</div>


