@using Brewgr.Web
@using Brewgr.Web.Core.Model

@model IList<RecipeOtherViewModel>
           
@{
    RecipeCreationOptions options = ViewBag.RecipeCreationOptions;
}

<div class="groupbox">
	<span>
		<h3 class="floatleft">Other Stuff</h3>
		<div class="floatright">
			<select id="adjunct-list" data-trigger="o">
			    <option value="" data-image="/img/pixel.gif" data-imagecss="lovibond addfirst">Add Ingredients...</option>
                <option value="0" data-image="/img/pixel.gif" data-use="Boil" data-imagecss="lovibond addcustom">Add Custom Ingredient</option>
				@foreach (Adjunct adjunct in ViewBag.RecipeCreationOptions.Adjuncts)
				{
                    var cssClass = options.SendToShopSettings.IsEnabled ? options.SendToShopSettings.IngredientIsEnabled(adjunct) ? "partner-ing-yes" : "partner-ing-no" : "";
					<option class="@cssClass" value="@adjunct.IngredientId">@adjunct.Name</option>
				}
			</select>
		</div>
	</span>
	<div class="nopadding">
		<table data-name="o_table" class="dataTable">
			<thead class="@(!Model.Any() ? "hidden" : "")">
				<tr>
					<td>amount </td>
					<td>unit</td>
					<td>name</td>
					<td>usage</td>
					<td>remove</td>
				</tr>
			</thead>
		    <tbody>
		        @if(!Model.Any())
		        {
		            <tr class="introrow">
		                <td colspan="7">
		                    <img src="@Url.Image("~/img/irish-moss.png")" width="100" height="100" alt="Irish Moss" />
		                    <div class="content">
		                        <h4>Add Other Stuff to Enhance Flavor, Clarity and Body</h4>
		                        The great thing about making your own beer is that you have complete control over
		                        what goes into it. You can add various ingredients to produce numerous different
		                        results.
		                    </div>
		                </td>
		            </tr>
		        }
                else
                {
                    foreach(var other in Model)
                    {
                        @Html.Partial("_BuilderAdjunctRow", other, new ViewDataDictionary(this.ViewData))
                    }
                }
		    </tbody>
			<tfoot class="@(!Model.Any() ? "hidden" : "")">
				<tr>
					<td colspan="5">&nbsp; </td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
