@using Brewgr.Web.Core.Model;
@model IRecipeFactsViewModel  
    
<div id="select-style" class="margintop20 recipedata">
	<div class="form-field">
		
        @if (ViewData["DisableEditing"] != null)
		{
			@Html.HiddenFor(m => m.StyleId)
		}
		else
		{
            @Html.LabelFor(m => m.Name, "Homebrew Style Guide")
		    <p>The homebrew style guide helps you match your homebrew recipe with one
			of the Beer Judge Cerification Program (BJCP) official styles.</p>
            
			<select data-name="r_StyleId">
                <option value="">Choose BJCP Style...</option>
                @foreach (BjcpStyleGroup item in ViewBag.RecipeCreationOptions.StyleGroups)
                {
                    <optgroup label="@item.CategoryId.ToString(). @item.CategoryName">

                    @foreach(var child in item.BjcpStyleSummaries)
                    {
                        <option value="@child.SubCategoryId" @(child.SubCategoryId == Model.StyleId ? "selected=\"selected\"" : "")>@child.SubCategoryId. @child.SubCategoryName</option>
                    }

                    </optgroup>
                }
            </select>
		}	

	</div>
	<div id="selected-style-chart"></div>
	<div id="similar-style-chart"></div>
	<div id="style-showmore"><a href="#" id="show-similar-styles">Show Similar Styles</a></div>
	<div id="style-hidemore" class="hidden"><a href="#" id="hide-similar-styles">Hide Similar Styles</a></div>
</div>

<script id="bjcpStyleTitle" type="text/x-jquery-tmpl"> 
    <div class="margintop10 bjcp-style-title">${SubCategoryName}</div>
</script>
<script id="bjcpStyleTemplate" type="text/x-jquery-tmpl"> 
	<div class="bjcp-label" id="bjcp-label">${styleElement}</div>
	<div class="bjcp-leftnumber">${styleElementStartValue}</div>
	<div class="bjcp-slider" original-title="${styleElement}: {{if styleStart == 0}} Varies {{else}} ${styleStart}-${styleEnd} {{/if}} / Your ${styleElement}: ${currentBrewValue}">
		<div class="bjcp-slider-range" style="left: ${styleElementStartPercent}%; width: ${styleElementEndPercent}%; "></div>
		<img class="bjcp-marker" src="/img/stylemarker.png" style="left: ${styleMarkerPercent}%;" />
	</div>
	<div class="bjcp-rightnumber">${styleElementEndValue}</div>
	<div class="bjcp-check"><img id="styleCheck" src="/img/icons/tick.png" style="display:${styleMatch}" /></div>
	<div class="clearall"></div>
    </script>