@using Brewgr.Web
@using ctorx.Core.Formatting
@model RecipeDetailViewModel

<div id="recipeinfo" class="groupbox">
	<span><h3 class="floatleft">Recipe Info</h3></span>
	<div>
		<div class="recipe-photo-actions floatleft">
		    <img src="@Url.RecipeDetailImageUrl(Model.RecipeViewModel.ImageUrlRoot, Model.RecipeViewModel.Srm)" alt="Recipe Image" width="200" height="200" />
            <span class="hidden" itemprop="image">@Url.RecipeDetailImageUrl(Model.RecipeViewModel.ImageUrlRoot, Model.RecipeViewModel.Srm)</span>
		    <span class="hidden" itemprop="thumbnailUrl">@Url.RecipeThumbnailUrl(Model.RecipeViewModel.ImageUrlRoot, Model.RecipeViewModel.Srm)</span>
            
		    <div class="sharethis">
		        <span class="st_facebook_large" displayText="Facebook"></span>
                <span class="st_twitter_large" displayText="Tweet"></span>
                <span class="st_pinterest_large" displayText="Pinterest"></span>
                <span class="st_email_large" displayText="Email"></span>
		        <span class="st_plusone_large" displayText="Google +1"></span>
            </div>
		</div>
		<div id="recipedata">
			<div class="recipe-details">
			    <div class="recipe-title floatleft">
			        <h3 itemprop="name">@Model.RecipeViewModel.Name</h3>
			        <span>by <b><a href="@Url.UserProfileUrl(Model.UserSummary.Username)" itemprop="author">@Model.UserSummary.Username</a></b> on <span itemprop="datePublished" content="@Model.RecipeViewModel.DateCreated.Year-@Model.RecipeViewModel.DateCreated.Month-@Model.RecipeViewModel.DateCreated.Day  ">@Model.RecipeViewModel.DateCreated.ToShortDateString()</span></span>
			    </div>
			    <div class="margintop10 floatright">
			        <a href="#tastingnotes" class="nodec pointer"><div id="recipe-rating" data-rating="@Model.RecipeViewModel.AverageRating"></div></a>
			    </div>
			    
                @if(Model.RecipeViewModel.AverageRating > 0)
                {
                    <div class="hidden" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                        <span class="hidden" itemprop="ratingValue">@Model.RecipeViewModel.AverageRating</span>
                        <span class="hidden" itemprop="reviewCount">@Model.RecipeViewModel.TastingNoteCount</span>
                    </div>
                }
                
			    <div id="ratingind" class="floatright fine-print marginright12"><a href="#tastingnotes" class="nodec pointer"><div id="recipe-rating" data-rating="@Model.RecipeViewModel.AverageRating"></div>from tasting notes</a></div>
                <div class="clearall"></div>
				<div class="recipe-info">
				    <div><label>Recipe Type:</label> <span itemprop="recipeCategory">@Model.RecipeViewModel.GetRecipeTypeName()</span></div>
				    <div><label>Batch Size:</label> <span  itemprop="recipeYield">@Model.RecipeViewModel.BatchSize.ToString() @(Model.RecipeViewModel.UnitType == "s" ? "Gallon" : "Liter")(s)</span></div>
					<div><label>Boil Size:</label> @Model.RecipeViewModel.BoilSize.ToString() @(Model.RecipeViewModel.UnitType == "s" ? "Gallon" : "Liter")(s)</div>
					<div itemprop="cookTime" content="PT@(Model.RecipeViewModel.BoilTime)M"><label>Boil Time:</label> @Model.RecipeViewModel.BoilTime min</div>
					<div><label>Efficiency:</label> @(Model.RecipeViewModel.Efficiency * 100)%</div>
				</div>
				
			    <div class="recipe-metainfo">
			        <div class="action">						
			            @if(Model.RecipeViewModel.BrewSessionCount > 0)
			            {
			                <a href="#comments"><img src="@Url.Image("~/img/icons/book_open.png")" alt="Comments" width="16" height="16" /></a><text>&nbsp;</text>
			                <a href="@Url.RecipeBrewSessionsUrl(Model.RecipeViewModel.RecipeId, Model.RecipeViewModel.Name)">Brew Sessions (@Model.RecipeViewModel.BrewSessionCount)</a>							
			            }
			            else
			            {
			                <img src="@Url.Image("~/img/icons/book_open.png")" alt="Comments" width="16" height="16" /><text>&nbsp;</text>
			                <span>Brew Sessions (0)</span>
			            }

			        </div>
			        <div class="action">
			            <a href="#comments"><img src="@Url.Image("~/img/icons/comments.png")" alt="Comments" width="16" height="16" /></a>&nbsp;
			            <a href="#comments">Comments (<span class="comment-count">@Model.RecipeViewModel.CommentWrapperViewModel.CommentViewModels.Count.ToString()</span>)</a>
                        
                        <a href="@Url.RecipePrintUrl(Model.RecipeViewModel.RecipeId)" class="button_small button_gray block margintop20 aligncenter width150 new-window" rel="nofollow">
                            <img src="/img/icons/printer.png" alt="print" class="inline-block marginright10" />
                            Print
                        </a>
			        </div>						
			    </div>
							
				<div class="clearall"></div>
							
				<div class="recipe-desc" itemprop="description">
					@if (!string.IsNullOrWhiteSpace(Model.RecipeViewModel.Description))
					{
					    @Html.Partial("_StringWithLineBreaks", Model.RecipeViewModel.Description)
					}
					else
					{
					    @Model.GetInferredDescription()
					}
				</div>
                        
				@if (Model.RecipeViewModel.OriginalRecipe != null)
	            { 
					<text><br />This recipe was cloned from <a href="@Url.RecipeDetailUrl(Model.RecipeViewModel.OriginalRecipe.RecipeId, Model.RecipeViewModel.OriginalRecipe.Name, Model.RecipeViewModel.OriginalRecipe.StyleName)">@Model.RecipeViewModel.OriginalRecipe.Name</a>.</text>
				}                        
			</div>
			<div class="clearall"> </div>
		</div>
    </div>
</div>