@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model TastingNote

<div class="tasting-note">
    
    <a class="avatar" href="@Url.UserProfileUrl(Model.User.CalculatedUsername)"><img src="@UserAvatar.GetAvatar(20, Model.User.EmailAddress)" width="20" height="20" alt="@Model.User.CalculatedUsername" /></a>
				
    <h4 class="tasting-title">Tasted on @Model.TasteDate.ToShortDateString() by <a href="@Url.UserProfileUrl(Model.User.CalculatedUsername)">@Model.User.CalculatedUsername</a></h4>
	
    @if (ViewBag.ActiveUser != null && Model.UserId == ViewBag.ActiveUser.UserId)
    {
        <a href="#" class="button button_green button_small floatright marginleft20" data-tastingnoteid="@Model.TastingNoteId">Delete</a>
    }
				
    <span id="star-@Model.TastingNoteId" class="rating" data-raty-rating="@Model.Rating"></span>
				
    <div class="clearall"> </div>

    @if(!string.IsNullOrWhiteSpace(Model.Notes))
    {
        <div class="item">
            <span class="marginbottom5 bold">Notes:</span>        
            <p class="marginbottom5">
                @Model.Notes
            </p>
        </div>
    }
</div>	