@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting

@model RecipeDetailViewModel

@{
	ViewBag.Title = Model.GetTitle();
	ViewBag.Description = Model.GetDescription();
    ViewBag.Canonical = Url.RecipeDetailUrl(Model.RecipeViewModel.RecipeId, Model.RecipeViewModel.Name, Model.RecipeViewModel.StyleName);
}

@*
    This has to be here -- don't get rid of it.  kthxbye
*@
<style type="text/css">
    [data-unit=@Model.RecipeViewModel.UnitType] { display: inline; }
</style>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0f7ddcd9-683a-4651-b221-bdfcfc9d1497", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

<div id="view-recipedetail" class="content">
    
    @if (ViewBag.ActiveUser == null)
    {
        <div class="ad-sense" style="width: 728px; margin: 0 auto 18px auto;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Brewgr - NotLoggedIn-Letterboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-6867430027291087"
                 data-ad-slot="5609122905"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }

    <div class="primary builder" itemscope itemtype="http://schema.org/Recipe">
        
        @if (!string.IsNullOrWhiteSpace(Model.RecipeViewModel.StyleId))
        {
            <span class="hidden" itemprop="recipeCuisine">@Model.RecipeViewModel.StyleName</span>    
        }
        
        @* Recipe Info *@
        @Html.Partial("_RecipeDetailInfo", Model)
        
        @* Fermentables *@
        @Html.Partial("_RecipeDetailFermentables", Model.RecipeViewModel, new ViewDataDictionary(this.ViewData) { { "UnitType", Model.RecipeViewModel.UnitType } })

        @* Hops *@
        @Html.Partial("_RecipeDetailHops", Model.RecipeViewModel, new ViewDataDictionary(this.ViewData) { { "UnitType", Model.RecipeViewModel.UnitType } })

        @* Yeast *@
        @Html.Partial("_RecipeDetailYeasts", Model.RecipeViewModel, new ViewDataDictionary(this.ViewData) { { "UnitType", Model.RecipeViewModel.UnitType } })

        @* Adjuncts *@
        @Html.Partial("_RecipeDetailAdjuncts", Model.RecipeViewModel, new ViewDataDictionary(this.ViewData) { { "UnitType", Model.RecipeViewModel.UnitType } })
 
        @* MashSteps *@
        @Html.Partial("_RecipeDetailMashSteps", Model.RecipeViewModel, new ViewDataDictionary(this.ViewData) { { "UnitType", Model.RecipeViewModel.UnitType } })
 
        @* Recipe Steps *@
        @Html.Partial("_RecipeDetailSteps", Model.RecipeViewModel)
        
        @* Tasting Notes *@
        @Html.Partial("_TastingNoteList", Model.TastingNotes ?? new List<TastingNote>())

        @* Start Comments *@
        @Html.Partial("_RecipeDetailComments", Model.RecipeViewModel)
    </div>

    @* Nutrition Label *@
    <div class="compliment">
		
        @Html.Partial("_RecipeFacts", Model.RecipeViewModel, new ViewDataDictionary(ViewData) { { "ShowInModal", false } })
		
        @if (ViewBag.SendToShopSettings != null)
        {
            <a href="@Url.Action("Create", "SendToShop", new { RecipeId = Model.RecipeViewModel.RecipeId })" class="button button_black widebutton margintop10 ">Send to @ViewBag.SendToShopSettings.PartnerName</a>
        }

        <a href="@Url.RecipeCloneUrl(Model.RecipeViewModel.RecipeId)" rel="nofollow" class="button button_green widebutton margintop10" rel="nofollow">Clone This Recipe</a>

        @if (!string.IsNullOrWhiteSpace(Model.RecipeViewModel.StyleId))
        {
            @Html.Partial("_RecipeStyleGuide", Model.RecipeViewModel)
        }

        @* Similar Recipes *@
        @if (ViewBag.SimilarRecipes.Count > 0)
        {
            <div id="similar-recipes">
                <h3 class="green margintop20">Similar Homebrew Recipes</h3>
                @foreach (RecipeSummary recipeSummary in ViewBag.SimilarRecipes)
                {
                    @Html.Partial("_RecipeWidget", recipeSummary)
                }
            </div>
        }

        @* Advertisement *@     
        @if(ViewBag.ActiveUser == null)
        {
            <div class="ad-sense" style="width: 200px; margin: 12px auto;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Brewgr - NotLoggedIn-SmallSquare -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:200px;height:200px"
                     data-ad-client="ca-pub-6867430027291087"
                     data-ad-slot="2516055706"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        }
    </div>	  
</div>

<div id="RecipeJson" class="hidden">@Html.Raw(Model.RecipeViewModel.GetJson())</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var recipe = getRecipe();

            // set up the style chart
            var targetStyle = StyleChart.GetStyle('@Model.RecipeViewModel.StyleId');
            StyleChart.create(targetStyle, recipe, $('#selected-style-chart'));
        });
    </script>
}

