@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model StyleDetailViewModel
@{
	ViewBag.Title = Model.BjcpStyle.SubCategoryName + " Recipes";

    // Description
    switch(Model.BjcpStyle.SubCategoryId.ToLower())
    {
        case "14c" :
            ViewBag.Description = "Imperial IPA or Double IPA beers are super hoppy and widely popular.  Pick from the highest rated Imperial IPA Recipes for you to brew and enjoy.";
            break;
        default:
            ViewBag.Description = "Browse user submitted recipes that meet the BJCP guidlines for the " + Model.BjcpStyle.SubCategoryName + " style.  Find a recipe that sounds good and make a homebrew.";
            break;
    }
}

<div id="view-styledetail" class="content">
    
    @if(Model.Pager.IsFirstPage())
    {
        @Html.Partial("_StyleDetailHeader", Model)
    }
    
    <div class="ad-sense" style="width: 728px; margin: 0 auto 18px auto;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Brewgr - hombrew-recipes letterboard -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-6867430027291087"
             data-ad-slot="7085856109"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    
    <div class="primary">
        @if (Model.Recipes.Any())
        {
            <h3>@Model.BjcpStyle.SubCategoryName Recipes - Displaying @Model.Pager.RecordStart to @Model.Pager.RecordEnd of @Model.Pager.RecordCount</h3>
                
            @Html.Partial("_RecipeList", Model.Recipes)

            @Html.Partial("_PageNavigation", Model)
        }
        else
        {
            <h3>No Recipes to Display</h3>
            <p>
                Nobody has created a recipe for this style yet.  You can be the first to create a @Model.BjcpStyle.SubCategoryName Recipe.
            </p>
            <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())" class="button button_green">Create a New Recipe</a>
        }
    </div>
    <div class="compliment">
        <div class="summary">
            <h3>Style Summary</h3>
            <div class="item">
                <label>Category</label>
                <span>@Model.BjcpStyle.CategoryName</span>
            </div>
            <div class="item">
                <label>Style</label>
                <span>@Model.BjcpStyle.SubCategoryName</span>
            </div>
            <div class="item">
                <label>OG Range</label>
                @if (Model.BjcpStyle.Og_Low == 0 && Model.BjcpStyle.Og_High == 0)
                {
                    <span>Varies</span>
                }
                else
                {
                    <span>@string.Format("{0:##.###}", Model.BjcpStyle.Og_Low) to @string.Format("{0:##.###}", Model.BjcpStyle.Og_High)</span>
                }
            </div>
            <div class="item">
                <label>FG Range</label>
                @if (Model.BjcpStyle.Fg_Low == 0 && Model.BjcpStyle.Fg_High == 0)
                {
                    <span>Varies</span>
                }
                else
                {
                    <span>@string.Format("{0:##.###}", Model.BjcpStyle.Fg_Low) to @string.Format("{0:##.###}", Model.BjcpStyle.Fg_High)</span>
                }
            </div>
            <div class="item">
                <label>IBU Range</label>
                @if (Model.BjcpStyle.Ibu_Low == 0 && Model.BjcpStyle.Ibu_High == 0)
                {
                    <span>Varies</span>
                }
                else
                {
                    <span>@Model.BjcpStyle.Ibu_Low to @Model.BjcpStyle.Ibu_High</span>
                }
            </div>
            <div class="item">
                <label>SRM Range</label>
                @if (Model.BjcpStyle.Srm_Low == 0 && Model.BjcpStyle.Srm_High == 0)
                {
                    <span>Varies</span>
                }
                else
                {
                    <span>@Model.BjcpStyle.Srm_Low to @Model.BjcpStyle.Srm_High</span>
                }
            </div>
            <div class="item">
                <label>ABV Range</label>
                @if (Model.BjcpStyle.Abv_Low == 0 && Model.BjcpStyle.Abv_High == 0)
                {
                    <span>Varies</span>
                }
                else
                {
                    <span>@string.Format("{0:##.##}", Model.BjcpStyle.Abv_Low)% to @string.Format("{0:##.##}", Model.BjcpStyle.Abv_High)%</span>
                }
            </div>
            <div class="item margintop10">
                <a href="@Url.Action("Homebrew-recipes")">&larr; Back to Styles</a>
            </div>
        </div>
            
        @* Top rated *@
        @if (Model.TopRatedRecipes.Count > 0)
        {
            <div id="toprated-recipes">
                <h3 class="green margintop20">Highest Rated @Model.BjcpStyle.SubCategoryName Recipes</h3>
                @foreach (RecipeSummary recipeSummary in Model.TopRatedRecipes)
                {
                    @Html.Partial("_RecipeWidget", recipeSummary)
                }
            </div>
        }

        <div class="ad-sense" style="margin: 18px 0 0 24px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Brewgr - skyscraper -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-6867430027291087"
                 data-ad-slot="4271990507"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>