@using Brewgr.Web
@model UnCategorizedRecipesViewModel

@{
	ViewBag.Title = "Other Homebrew Recipes";
	ViewBag.Description = "Various user submitted homebrew recipes that fall outside of the BJCP defined style guidelines";
}

<div id="otherrecipes-view" class="content">
	<div class="two_third leftsec">
		@if (Model.Recipes.Any())
		{
			<h3>Displaying @Model.Pager.RecordStart to @Model.Pager.RecordEnd of @Model.Pager.RecordCount Recipe(s)</h3>
			@Html.Partial("_RecipeList", Model.Recipes)
			@Html.Partial("_PageNavigation", Model)
		}
		else
		{
			<h3>No Recipes to Display</h3>
			<p>
				Apparently everyone has categorized their homebrew recipes.  Live on the wild side and make a recipe fit for a maverick!
			</p>
			<a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())" class="button button_green">Create a New Recipe</a>
		}		
	</div>
	<div class="one_third column-last rightsec">
		<h3>What Styles Are These Recipes?</h3>
		<p>
			It's not uncommon for a homebrewer to craft a homebrew recipe that does
			not satisfy the specific guidelines of the BJCP style guidelines.
			For example, a homebrewer might make an IPA
			recipe and decide they want it to be more bitter or darker than the defined style.  
		</p>
		<p>
			There are plenty of great homebrew recipes that
			fall into this category and they should not be overlooked.
		</p>
		<a href="@Url.Action("Homebrew-recipes")" class="padding20 button button_black">&larr; Back to Style Categories</a>
	</div>
</div>
